<app-sub-title></app-sub-title>
<div *ngIf="isLoading$ | async" class="loading"><img src="/assets/img/common/loading.gif" alt="loading"></div>
<section class="payment fix-height-sub" *ngIf="!(isLoading$ | async)">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="box">
          <div class="box-panel">
            <h3 class="accommodation-name">{{ stay }}</h3>
            <p class="room-name">{{ reservationInfo?.room }}</p>
          </div>
          <div class="box-panel">
            <p class="check-in"><span>체크인</span>{{ checkIn }} {{ +type ? daysCheckIn : hoursCheckIn }}:00</p>
            <p class="check-out"><span>체크아웃</span>{{ checkOut }} {{ +type ? daysCheckOut : hoursCheckOut | number:'2.0-0' }}:00</p>
          </div>
          <div class="box-panel" *ngIf="!+type">
            <ul class="hours-select">
              <li *ngFor="let hour of hours" [class.active]="hour.active"
                  [class.disabled]="hour.disabled" (click)="hoursSelect(hour)">{{ hour.value }}:00</li>
            </ul>
          </div>
          <div class="box-panel">
            <p class="price">판매금액<span>{{ reservationInfo?.finalPrice | number }}원</span></p>
          </div>
          <div class="box-panel">
            <p class="price">총 할인금액<span>-0원</span></p>
          </div>
          <div class="box-panel point">
            <p class="price">최종결제금액<span>{{ reservationInfo?.finalPrice | number }}원</span></p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
          <div class="box">
            <div class="box-panel">
              <h4 class="box-panel-title"><i class="fa fa-user-o" aria-hidden="true"></i>예약정보</h4>
            </div>
            <div class="box-panel">
              <div class="form-group row" [class.has-error]="bookerName.errors && bookerName.touched">
                <label for="bookerName" class="col-3 col-form-label">예약자 이름</label>
                <div class="col-9">
                  <input type="text" class="form-control" id="bookerName" placeholder="체크인 시 필요합니다." formControlName="bookerName">
                </div>
                <em class="col-9 offset-3 help-block" *ngIf="bookerName.errors?.required && bookerName.touched">체크인 시 필요합니다.</em>
              </div>
              <div class="form-group row" [class.has-error]="bookerPhoneNum.errors && bookerPhoneNum.touched">
                <label for="bookerPhoneNum" class="col-3 col-form-label">예약자 번호</label>
                <div class="col-9">
                  <input type="text" class="form-control" id="bookerPhoneNum" placeholder="'-'을 제외하고 입력해주세요." formControlName="bookerPhoneNum">
                </div>
                <em class="col-9 offset-3 help-block" *ngIf="bookerPhoneNum.errors?.required && bookerPhoneNum.touched">예약자 번호를 입력해주세요.</em>
                <em class="col-9 offset-3 help-block" *ngIf="bookerPhoneNum.errors?.pattern && bookerPhoneNum.touched">올바른 휴대폰 번호를 입력해주세요.</em>
              </div>
              <div class="form-group mb-0">
                <div class="btn-group d-flex" btnRadioGroup formControlName="howToVisit">
                  <label btnRadio="도보" class="btn btn-outline-primary" tabindex="0" role="button">도보</label>
                  <label btnRadio="차량" class="btn btn-outline-primary" tabindex="0" role="button">차량</label>
                </div>
                <em class="help-block" *ngIf="howToVisit.errors?.required && howToVisit.touched">방문하실 때 어떻게 오시는지 선택해주세요.</em>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box-panel">
              <h4 class="box-panel-title"><i class="fa fa-credit-card" aria-hidden="true"></i>결제정보</h4>
              <em class="help-block" *ngIf="billing.errors?.required && billing.touched">결제 방식을 선택해주세요.</em>
            </div>
            <div class="box-panel">
              <div class="custom-control custom-radio">
                <input type="radio" id="billing1" name="billing" value="신용카드 결제" class="custom-control-input" checked formControlName="billing">
                <label class="custom-control-label" for="billing1">신용카드 결제</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="billing2" name="billing" value="실시간 계좌이체" class="custom-control-input" formControlName="billing">
                <label class="custom-control-label" for="billing2">실시간 계좌이체</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="billing3" name="billing" value="무통장 입금" class="custom-control-input" formControlName="billing">
                <label class="custom-control-label" for="billing3">무통장 입금</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="billing4" name="billing" value="토스계좌결제" class="custom-control-input" formControlName="billing">
                <label class="custom-control-label" for="billing4">토스계좌결제 <img src="assets/img/accommodation/payment/toss_logo.png" alt="toss_logo"></label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="billing5" name="billing" value="네이버페이" class="custom-control-input" formControlName="billing">
                <label class="custom-control-label" for="billing5">네이버페이  <img src="assets/img/accommodation/payment/naverpay_logo.png" alt="naverpay_logo"></label>
              </div>
            </div>
          </div>
          <div class="box" formGroupName="checkGroup">
            <div class="box-panel">
              <h4 class="box-panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i>약관</h4>
            </div>
            <div class="box-panel">
              <div class="checkbox allAgree-checkbox">
                <input type="checkbox" id="allAgree" name="allAgree" formControlName="allAgree">
                <label for="allAgree">전체동의</label>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="termsOfUse" name="termsOfUse" formControlName="termsOfUse">
                <label for="termsOfUse">(필수) 숙소 이용규칙 동의</label>
                <a (click)="termsOfServiceOpen()" class="modal-open-btn float-right">보기</a>
                <em class="help-block" *ngIf="termsOfUse.errors?.pattern && termsOfUse.touched">숙소 이용규칙에 동의해주세요.</em>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="cancelPolicy" name="cancelPolicy" formControlName="cancelPolicy">
                <label for="cancelPolicy">(필수) 취소 규정 동의</label>
                <a (click)="cancellationPolicyOpen()" class="modal-open-btn float-right">보기</a>
                <em class="help-block" *ngIf="cancelPolicy.errors?.pattern && cancelPolicy.touched">취소 규정에 동의해주세요.</em>
              </div>
              <div class="checkbox">
                <input type="checkbox" id="thirdParty" name="thirdParty" formControlName="thirdParty">
                <label for="thirdParty">(필수) 개인정보 제3자 제공동의</label>
                <a (click)="personalInfoThirdPartyOpen()" class="modal-open-btn float-right">보기</a>
                <em class="help-block" *ngIf="thirdParty.errors?.pattern && thirdParty.touched">개인정보 제3자 제공에 동의해주세요.</em>
              </div>
              <small class="last-guide">(주)야놀자는 통신판매중개자로서, 통신판매의 당사자가 아니라는 사실을 고지하며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.</small>
            </div>
          </div>
          <div class="btn-panel">
            <a class="btn btn-secondary">취소하기</a>
            <button type="submit" class="btn btn-primary" [disabled]="reservationForm.invalid">결제하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>