@import "../../../output-scss/common.scss";

.sub-title {
  overflow: hidden;
  position: relative;
  padding: 20px 0;
  color: #FFF;
  background-color: $primary-color;
  h2 {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 30px;
    font-weight: 500;
    vertical-align: middle;
  }
  p {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: 30px;
    vertical-align: middle;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(500px, -50%);
    -moz-transform: translate(500px, -50%);
    -o-transform: translate(500px, -50%);
    -ms-transform: translate(500px, -50%);
    transform: translate(500px, -50%);
    width: 50px;
  }

  .grade {
    position: absolute;
    color: $primary-color;
    right: 32px;
    top: 1px;
    font-weight: 700;
    font-size: 19px
  }
  .content {
    position: absolute;
    top: 0px;
    right: 80px;
    text-align: right;
    width:120px;

    .recommendation {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .review {
      font-size: 12px;
      color: #fff;
      font-weight: 500;
    }
  }
}