<app-sub-title></app-sub-title>
<section class="review fix-height-sub">
  <div class="container">
    <section class="review-header">
      <div class="all-grade-wrap d-inline-block">
        <div class="all-grade">
          <img src="/assets/img/common/comma-y.png">
          {{ averageGrade }}
        </div>
        <p>전체 누적평점</p>
      </div>
      <div class="grades-wrap d-inline-block">
        <div class="grade-item">
          <div class="grade-item-num">{{ totalGrade1 }}<img src="/assets/img/common/comma-y.png"></div>
          <span class="grade-item-title">친절도</span>
        </div>
        <div class="grade-item">
          <div class="grade-item-num">{{ totalGrade2 }}<img src="/assets/img/common/comma-y.png"></div>
          <span class="grade-item-title">청결도</span>
        </div>
        <div class="grade-item">
          <div class="grade-item-num">{{ totalGrade3 }}<img src="/assets/img/common/comma-y.png"></div>
          <span class="grade-item-title">편의성</span>
        </div>
        <div class="grade-item">
          <div class="grade-item-num">{{ totalGrade4 }}<img src="/assets/img/common/comma-y.png"></div>
          <span class="grade-item-title">서비스 만족도</span>
        </div>
      </div>
    </section>
    <section class="review-list">
      <ng-container *ngFor="let comment of comments">
        <div class="review-item" *ngIf="comment">
          <div class="review-item-header">
            <div class="grade"><span [innerText]="getGrade(comment.grade)"></span> <img src="/assets/img/common/comma-y.png"></div>
            <p class="review-info">{{ comment.nickname }} | {{ comment.stay }} - {{ comment.reservedRoom }}</p>
            <p class="review-date" [innerText]="splitDate(comment.created)"></p>
          </div>
          <p class="review-content">{{ comment.text }}</p>
          <div class="owner" *ngIf="comment['ownerComment-1']">
            <h5>사장님 댓글 <span [innerText]="splitDate(comment['ownerCommentCreated-1'])"></span></h5>
            <p>{{ comment['ownerComment-1'] }}</p>
          </div>
          <div class="owner" *ngIf="comment['ownerComment-2']">
            <h5>사장님 댓글 <span [innerText]="splitDate(comment['ownerCommentCreated-2'])"></span></h5>
            <p>{{ comment['ownerComment-2'] }}</p>
          </div>
          <div class="owner" *ngIf="comment['ownerComment-3']">
            <h5>사장님 댓글 <span [innerText]="splitDate(comment['ownerCommentCreated-3'])"></span></h5>
            <p>{{ comment['ownerComment-3'] }}</p>
          </div>
          <div class="owner" *ngIf="comment['ownerComment-4']">
            <h5>사장님 댓글 <span [innerText]="splitDate(comment['ownerCommentCreated-4'])"></span></h5>
            <p>{{ comment['ownerComment-4'] }}</p>
          </div>
        </div>
      </ng-container>
    </section>
  </div>
</section>
<app-footer></app-footer>