<div class="mypage-router-wrap">
  <section class="account-edit">
    <div class="mypage-body-wrapper clearfix">
      <div class="body-content">
        <div class="member-group input-group clearfix">
          <div class="member-key">이름</div>
          <div class="form-group">
            <input type="text" class="form-control" value="이가영">
            <em class="help-block">닉네임을 입력해주세요.</em>
          </div>
        </div>
        <div class="member-group clearfix">
          <div class="member-key">이메일</div>
          <div class="member-value">happydy91@hanmail.net</div>
        </div>
        <div class="member-group clearfix">
          <div class="member-key">휴대폰번호</div>
          <div class="member-value">010-2222-3333</div>
            <!-- <button class="btn btn-primary btn-certification">인증하기</!-->
        </div>
        <div class="member-group input-group clearfix">
          <div class="member-key">비밀번호</div>
          <div class="form-group">
            <input type="text" class="form-control" value="현재 비밀번호 입력">
            <em class="help-block">&nbsp;</em>
          </div>
            <!-- <button class="btn btn-primary btn-certification">인증하기</button> -->
          <div class="member-key">&nbsp;</div>
          <div class="form-group">
            <input type="text" class="form-control" value="새 비밀번호 - 영문+숫자+특문 8~20자">
          <em class="help-block">8자 이상, 영문, 숫자, 특수문자 조합으로 설정 해주세요.</em>
          </div>
          <div class="member-key">&nbsp;</div>
          <div class="form-group">
            <input type="text" class="form-control" value="새 비밀번호 확인">
            <em class="help-block">위의 비밀번호와 동일하게 입력해 주세요.</em>
          </div>
        </div>
        <!-- <div class="line" class="bottom-line"></div> -->
      </div>
      <div class="memeber-edit-btn">
        <button type="button" class="btn btn-secondary">취소하기</button>
        <button class="btn btn-primary">저장하기</button>
      </div>
    </div>
  </section>
</div>