@import "../../../output-scss/common.scss";

:host {
  display: block;
  height: 561px;
}
.mypage-body-wrapper {
  font-size: 14px;
  padding: 20px 40px 20px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #e9ecef;
}
.member-group {
  padding: 10px;
  height: 70px;
  
  .member-key {
    font-weight: 500;
    float: left;
    width: 170px;
    line-height: 40px;
  }
  
  .member-value {
    width: 420px;
    float: left;
  }
  
  .value-spe {
    line-height: 40px;
  }
}

.form-control {
  font-size: 14px;
}
.help-block {
  margin-bottom: 10px;
}
.btn {
  width: calc(20% - 5px);
  line-height: 15px;
  padding: 12px;
  & + .btn {
    margin-left: 10px;
  }
}
.btn-secondary {
  margin-left: 10px;
}

