@import "../../../output-scss/common.scss";

:host {
  display: block;
  height: 550px;
}
.body-img {
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
.img-profile {
  width: 98px;
  border-radius: 50px;
}
.body-text {
  margin-top: 15px;
}
.mypage-body-wrapper {
  font-size: 14px;
  padding: 50px 40px 40px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #e9ecef;
}
.btn-edit{
  position: absolute;
  right: 40px;
  top: 32px;
  width: 70px;
  z-index: 10;
  background-color: #fff;
  border: solid 1px #ced4da;
  color: #495056 !important;
  font-size: 13px;
  height: 32px;
  line-height: 30px;
  text-align: center;
}
.member-group {
  width: 100%;
  // display: inline;
  height: 29px;
  line-height: 27px;
  margin-bottom: 25px;
  position: relative;
}
.member-key {
  float: left;
  width: 170px;
  margin-left: 20px;
}
.member-value {
  border: 0;
  line-height: 27px;
  margin: 0;
  padding: 0;
  display: inline;
  display: inline-block;
}
.delete-box {
  text-align: center;
  padding: 20px 0 0;
  .delete-id {
    color: #848c94;
    font-size: 11px;
    text-decoration: underline;
    line-height: 1.5;
    padding-top: 10px;
  }
}

// modal
.modal-q-agree {
  text-decoration: underline;
}
.modal-q-color {
  margin-top: 3px;
}
.modal-btn {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.btn-primary {
  width: 45%;
  margin-right: 5px;
  // float: right;
}
.btn-secondary {
  width: 45%;
  // float: right;
}