<div class="mypage-router-wrap">
  <div class="mypage-body-wrapper clearfix">
    <a class="btn-edit" routerLink="/mypage/accountEdit">편집</a>
    <div class="body-content">
      <div class="body-img">
        <img src="assets/img/mypage/profile.jpg" class="img-profile">
        <div class="body-text">{{ accountdata.nickname }}</div>
      </div>
      <div class="member-group clearfix">
        <div class="member-key">닉네임</div>
        <div class="member-value">{{ accountdata.nickname }}</div>
      </div>
      <div class="member-group clearfix">
        <div class="member-key">이메일</div>
        <div class="member-value">{{ accountdata.email }}</div>
      </div>
   
      <div class="member-group clearfix">
        <div class="member-key">비밀번호</div>
        <div class="member-value">●●●●●●●●●●</div>
      </div>
      <div class="member-group clearfix">
        <div class="member-key">휴대폰번호</div>
        <div class="member-value">{{ accountdata.phoneNumber }}</div>
      </div>
    </div>
  </div>
  <div class="delete-box">
    <a class="delete-id" (click)="openModal(template)">계정 삭제하기</a>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">계정 삭제하기</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-q">
      회원탈퇴를 하시려면 <span class="modal-q-agree">안내 및 동의</span>가 필요합니다.
      <p class="modal-q-color">정말로 <span class="modal-q-agree">회원탈퇴</span>를 진행하시겠습니까?</p>
    </div> 
    <div class="modal-btn clearfix">
      <button class="btn btn-primary" (click)="btnSecession()">확인</button>
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">취소</button>
    </div>
  </div>
</ng-template>