<div class="modal-header">
    <h4 class="modal-title pull-left">청소년 보호 정책</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      주식회사 야놀자는 유해한 환경으로부터 청소년들의 정신적, 신체적 건강을 보호하기 위하여, ‘청소년 보호법' 및
      '정보통신망 이용촉진 및 정보보호 등에 관한 법률' 등 관계 법령에 따른 청소년 보호정책을 마련하여 시행하고
      있으며 청소년들이 안전하게 인터넷 서비스를 이용할 수 있도록 다음과 같은 활동을 하고 있습니다.
    </p>
    <ul>
      <li>청소년 유해정보로부터의 청소년 보호계획의 수립</li>
      <li>청소년 유해정보에 대한 청소년 접근제한 및 관리조치</li>
      <li>정보통신업무 종사자에 대한 청소년 유해정보로부터의 청소년보호를 위한 교육</li>
      <li>청소년 유해정보로 인한 피해상담 및 고충처리</li>
      <li>그 밖에 청소년 유해정보로부터 청소년을 보호하기 위하여 필요한 사항</li>
    </ul>
    <br>
    <p>관련 문의는 아래 청소년 보호 책임자 및 담당자에게 연락하여 주시면 친절하게 답변하여 드리겠습니다.</p>
    <br>
    <table class="table table-bordered">
      <thead>
          <tr>
              <th>청소년 보호 책임자</th>
              <th>청소년 보호 담당자</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul>
              <li>이름: 박성식 실장</li>
              <li>소속: (주)야놀자 법무실</li>
              <li>연락처: 1644-1346</li>
              <li>이메일: help@yanolja.com</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>이름: 윤보라 매니저</li>
              <li>소속: (주)야놀자 법무실</li>
              <li>연락처: 1644-1346</li>
              <li>이메일: help@yanolja.com</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">닫기</button>
  </div>