<div class="mypage-router-wrap">
  <div class="box">
    <div class="row">
      <div class="col-4" *ngFor="let like of likes">
        <a routerLink="/accommodation/{{ like.id }}" class="content-item">
          <div class="like-wrap">
            <a (click)="likeAction($event)"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
          </div>
          <div class="content-img-wrap">
            <img src="{{ like.mainImage }}" alt="{{ like.name }}">
          </div>
          <div class="content-text-wrap">
            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ like.directions }}</div>
            <h3>{{ like.name }}</h3>
            <div class="customer">
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>{{ like.averageGrade }}</span>
              <i class="fa fa-comments" aria-hidden="true"></i>
              <span>{{ like.totalComments | number }}</span>
            </div>
            <div class="type borrow">
              <h4>대실 <span>최대 {{ like.hoursAvailable }}시간</span></h4>
              <p>{{ like.hoursPrice | number }}원</p>
              <div class="price">{{ like.saleHoursPrice | number }}<small>원</small></div>
            </div>
            <div class="type one-night">
              <h4>숙박 <span>{{ like.hoursAvailable }}:00 ~</span></h4>
              <p>{{ like.daysPrice | number }}원</p>
              <div class="price">{{ like.saleDaysPrice | number }}<small>원</small></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="box">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>