<div class="mypage-router-wrap">
  <div class="box">
    <div class="row">
      <div class="col-4" *ngFor="let like of pagedItems">
        <a routerLink="/accommodation/{{ like.stayId }}" class="content-item">
          <div class="content-img-wrap">
            <img src="{{ like.mainImage }}" alt="{{ like.stay }}">
          </div>
          <div class="content-text-wrap">
            <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ like.directions }}</div>
            <h3>{{ like.stay }}</h3>
            <div class="customer">
              <img src="/assets/img/common/comma-y.png" class="comma">
              <span>{{ like.averageGrade }}</span>
              <i class="fa fa-comments" aria-hidden="true"></i>
              <span>{{ like.totalComments | number }}</span>
            </div>
            <div class="type-wrap">
              <div class="type borrow clearfix" *ngIf="+like.hoursPrice">
                <div class="float-left">
                  <h4>대실</h4>
                  <span>최대 {{ like.hoursAvailable }}시간</span>
                </div>
                <div class="float-right text-right">
                  <p *ngIf="like.saleHoursPrice">{{ like.hoursPrice | number }}원</p>
                  <div *ngIf="like.saleHoursPrice" class="price">{{ like.saleHoursPrice | number }}<small>원</small></div>
                  <p *ngIf="!like.saleHoursPrice" class="text-decoration-none">&nbsp;</p>
                  <div *ngIf="!like.saleHoursPrice" class="price">{{ like.hoursPrice | number }}<small>원</small></div>
                </div>
              </div>
              <div class="type one-night clearfix" *ngIf="+like.daysPrice">
                <div class="float-left">
                  <h4>숙박</h4>
                  <span>{{ like.hoursAvailable }}:00 ~</span>
                </div>
                <div class="float-right text-right">
                  <p *ngIf="like.saleDaysPrice">{{ like.daysPrice | number }}원</p>
                  <div *ngIf="like.saleDaysPrice" class="price">{{ like.saleDaysPrice | number }}<small>원</small></div>
                  <p *ngIf="!like.saleDaysPrice" class="text-decoration-none">&nbsp;</p>
                  <div *ngIf="!like.saleDaysPrice" class="price">{{ like.daysPrice | number }}<small>원</small></div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="box" *ngIf="pager.pages && pager.pages.length">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(1)" aria-disabled="true">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)"aria-disabled="true">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
        </li>
        <li *ngFor="let page of pager.pages" class="page-item" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" (click)="setPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.currentPage + 1)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>