<div class="modal-header">
    <h4 class="modal-title pull-left">취소규정</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <colgroup>
        <col width="50%">
        <col width="50%">
      </colgroup>
      <caption>취소규정 및 약관동의 표</caption>
      <thead>
        <tr>
          <th>취소기준</th>
          <th>취소수수료</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>입실 1일 전 24시 전까지</td>
          <td>없음</td>
        </tr>
        <tr>
          <td>당일 취소 및 No-Show, 입실시간 경과/실제 입실 후</td>
          <td>환불불가</td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li>· 취소 규정이 적용되는 기준일은 <strong>입실일</strong>입니다.</li>
      <li>· 취소수수료는 <strong>판매금액을 기준으로 계산</strong>됩니다.</li>
      <li>· <strong>취소수수료 계산 기준</strong>
        <ul>
          <li>· PG사를 통한 현금 결제금액 → 포인트 사용금액 순으로 차감 처리 됩니다.</li>
          <li>· 취소수수료 금액이 실 결제금액(현금/PG 결제금액 + 포인트 사용금액)을 초과 발생하는 경우, 초과 수수료금액에 대한 추가 청구는 없습니다.</li>
          <li>· 연박 예약건의 취소 시, 취소일시를 기준으로 일할 계산됩니다.</li>
          <li>· 예약정보 변경을 위한 결제 취소 시에도 취소수수료가 부과됩니다.</li>
        </ul>
      </li>
      <li>· <strong>사용한 쿠폰의 반환</strong>
        <ul>
          <li>· 결제 시 사용한 쿠폰은 해당 쿠폰의 사용 유효기간이 남아있는 경우, 취소수수료 발생 여부와 무관하게 반환됩니다.</li>
          <li>· 단, '즉시할인쿠폰'의 경우, 회원이 소유한 형태의 쿠폰이 아니므로, 반환 대상에서 제외됩니다.</li>
        </ul>
      </li>
      <li>· <strong>취소 불가 사항</strong>
        <ul>
          <li>· 입실시간 경과 (No-Show 포함)또는 실제 입실이 발생한 경우
            <ul>
              <li> ※ No-Show : 사전 연락없이 예약된 숙소를 이용하지 않음</li>
            </ul>
          </li>
          <li>· 입실 당일 예약인 경우</li>
          <li>· 미성년자에 의한 예약 결제 및 서비스 이용 시
            <ul>
              <li>· 미성년자에 의한 서비스 이용임이 확인될 경우, 전액 환불 불가합니다.</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>· <strong>특정 결제수단 환불 정책</strong>
        <ul>
          <li>· '휴대폰 결제' 예약 건 취소 시, 취소 시점에 따라 취소수수료가 재승인 될 수 있습니다.</li>
          <li>· '휴대폰 결제' 예약 건은 결제 당월에 한해 원 거래 취소처리가 가능합니다.<br>
            &nbsp;&nbsp;&nbsp;익월 이후 취소 시, 계좌 또는 야놀자 포인트로 환불이 진행됩니다.
          </li>
        </ul>
      </li>
      <li>· <strong>예외 규정</strong>
        <ul>
          <li>· 숙소 유형별 예외 규정
            <ul>
              <li>· 모텔 예약의 경우 예약 완료 시각으로부터 1시간 이내 야놀자 앱/웹을 통해 전액 취소가 가능합니다.
                <ul>
                  <li>· 단, 예약완료 후 1시간 이내라도 입실 시간 경과 시 취소 불가</li>
                </ul>
              </li>
              <li>· 모텔 예약은 입실시간 경과 후 발생한 예약에 한하여 예약완료 시각으로부터 15분 이내 고객센터를 통한 전액 취소가 가능합니다.</li>
              <li>· 호텔 예약은 예약완료 시각으로부터 10분 이내 고객센터를 통한 전액 취소가 가능합니다. ( 야놀자 앱/웹 내 직접 취소 불가)</li>
            </ul>
          </li>
          <li>· 기타 예외 규정
            <ul>
              <li>· 실시간 예약의 특성상 동일한 객실에 중복 예약이 발생할 수 있으며, 이 경우 먼저 결제완료된 예약 건에 우선권이 있으므로 이후 중복 예약 건은 취소될 수 있습니다.</li>
              <li>· 미 확정 성수기 요금 혹은 오등록 요금으로 예약 결제 하신 경우, 해당 내용 안내 및 예약 건의 취소가 진행될 수 있습니다.</li>
              <li>· 예약 시에 표시된 정보와 상이하거나 계약내용과 다르게 이행된 점이 확인될 경우, 취소가 진행될 수 있습니다. </li>
              <li>. 호텔 및 펜션 예약은 각 호텔 및 펜션의 취소규정에 의해 취소 및 환불이 진행됩니다.</li>
              <li>. 현장에서 발생된 업체와의 분쟁으로 인한 취소/환불 요청 시, 당사는 중개플랫폼사로 취소/환불에 관여하지 않습니다.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">닫기</button>
  </div>