<header [class.is-main]="isMain">
  <div class="container">
    <h1 class="logo">
      <a routerLink="/">
        <img *ngIf="!isMain" src="assets/img/header/logo.svg" alt="yanolja" title="야놀자">
        <img *ngIf="isMain" src="assets/img/header/logo-white.png" alt="yanolja" title="야놀자">
      </a>
    </h1>
    <nav class="gnb-nav">
      <ul>
        <li><a routerLink="/accommodation" [queryParams]="{category:'motel'}">모텔</a></li>
        <li><a routerLink="/accommodation" [queryParams]="{category:'hotel'}">호텔/리조트</a></li>
        <li><a routerLink="/accommodation" [queryParams]="{category:'pension'}">펜션/풀빌라</a></li>
        <li><a routerLink="/accommodation" [queryParams]="{category:'guest-house'}">게스트하우스</a></li>
      </ul>
      <ul class="right-menu">
        <li *ngIf="!isLogin"><a routerLink="/login">로그인</a></li>
        <li *ngIf="!isLogin"><a routerLink="/signup" class="signup-btn">회원가입</a></li>
        <li *ngIf="isLogin"><a routerLink="/mypage/reservation">예약내역</a></li>
        <li *ngIf="isLogin" dropdown>
          <a class="mypage-btn dropdown-toggle" id="mypage-btn" dropdownToggle aria-controls="dropdown-mypage">
            <img src="assets/img/mypage/profile.png" alt="mypage">
          </a>
          <ul id="dropdown-mypage" *dropdownMenu class="mypage-dropdown dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="mypage-btn">
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/mypage">
                <img class="rounded-circle" src="assets/img/mypage/profile.png" alt="mypage">
                <p>{{ nickname }}</p>
                <p>프로필관리</p>
              </a>
            </li>
            <li class="divider dropdown-divider m-0"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="logout()">로그아웃</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <ul class="temp-header">
    <li><a routerLink="/accommodation">숙소리스트</a></li>
    <li><a routerLink="/accommodation/1">숙소상세</a></li>
    <li><a routerLink="/accommodation/1/review" [queryParams]="{ totalComments: 1000, averageGrade: 4.5, totalGrade1: 4.6, totalGrade2: 4.2, totalGrade3: 4.4, totalGrade4: 4.7 }">후기페이지</a></li>
    <li><a routerLink="/accommodation/1/1">룸상세</a></li>
    <li><a routerLink="/accommodation/1/1/payment">결제</a></li>
    <li><a routerLink="/mypage">마이페이지</a></li>
    <li><a routerLink="/mypage/accountEdit">회원정보수정</a></li>
    <li><a routerLink="/mypage/reservation">예약내역</a></li>
    <li><a routerLink="/mypage/reservation/1">예약상세</a></li>
    <li><a routerLink="/mypage/wishlists">찜목록</a></li>
    <li><a routerLink="/ui">UI 모음</a></li>
  </ul>
</header>