<header>
  <div class="container">
    <h1 class="logo">
      <a routerLink="/">
        <img src="assets/img/header/logo.svg" alt="yanolja" title="야놀자">
      </a>
    </h1>
    <nav class="gnb-nav">
      <ul>
        <li><a routerLink="/accommodation" [queryParams]="{category:'motel'}">모텔</a></li>
        <li><a routerLink="/accommodation" [queryParams]="{category:'hotel'}">호텔/리조트</a></li>
        <li><a routerLink="/accommodation" [queryParams]="{category:'pension'}">펜션/풀빌라</a></li>
        <li><a routerLink="/accommodation" [queryParams]="{category:'guest-house'}">게스트하우스</a></li>
      </ul>
      <ul class="right-menu">
        <li><a routerLink="/login">로그인</a></li>
        <li><a routerLink="/signup" class="signup-btn">회원가입</a></li>
      </ul>
    </nav>
  </div>
  <ul class="temp-header">
    <li><a routerLink="/accommodation">숙소리스트</a></li>
    <li><a routerLink="/accommodation/1">숙소상세</a></li>
    <li><a routerLink="/accommodation/1/1">룸상세</a></li>
    <li><a routerLink="/accommodation/1/1/payment">결제</a></li>
    <li><a routerLink="/mypage">마이페이지</a></li>
    <li><a routerLink="/member/update">회원정보수정</a></li>
    <li><a routerLink="/reservation">예약내역</a></li>
    <li><a routerLink="/reservation/1">예약상세</a></li>
    <li><a routerLink="/reservation/1/cancel">예약취소</a></li>
  </ul>
</header>