@import "../../../output-scss/common.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 72px;
  padding: 18px 0;
  background-color: #FFF;
  border-bottom: 1px solid #DEE2E6;
  -webkit-transition: background-color 0.35s;
  -moz-transition: background-color 0.35s;
  transition: background-color 0.35s;
  &.is-main {
    background-color: $primary-color;
    border-color: $primary-dark-color;
  }
}
.logo {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  a {
    display: block;
  }
  img {
    display: block;
    width: 98px;
  }
}
.gnb-nav {
  padding-left: 100px;
  > ul {
    display: inline-block;
    list-style: none;
  }
  > ul > li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    > a {
      display: block;
      height: 36px;
      padding: 0 12px;
      color: #666D75;
      font-size: 16px;
      font-weight: 500;
      line-height: 36px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 3px;
      &:hover {
        background-color: #F5F6F7;
      }
      &.signup-btn {
        padding-left: 32px;
        padding-right: 32px;
        color: $primary-color;
        border: 1px solid $primary-color;
      }
      &.signup-btn:hover {
        background-color: $primary-light-color;
      }
      &.mypage-btn {
        overflow: hidden;
        width: 36px;
        padding: 0;
        border: 3px solid #FFF;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &.mypage-btn:hover {
      }
    }
  }
  .right-menu {
    float: right;
  }
}
.temp-header {
  position: fixed;
  top: 75px;
  left: 0;
}
.is-main {
  .gnb-nav > ul > li > a {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }
    &.signup-btn {
      color: #FFF;
      border: 1px solid #FFF;
      &:hover {
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }
}
.mypage-dropdown {
  top: calc(100% + 10px) !important;
  padding: 0;
  border: 1px solid #E9ECEF;
  border-radius: 1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0 ,0, .2);
  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  &:before {
    top: -13px;
    right: 25.5px;
    border-width: 6px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #DEE2E6;
  }
  &:after {
    top: -12px;
    right: 25px;
    border-width: 6px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF;
  }
  li {
    .dropdown-item {
      min-width: 200px;
      padding: 8px 16px;
      font-size: 14px;
      &:hover {
        background-color: #F5F6F7;
      }
      img {
        float: left;
        width: 36px;
        height: 36px;
        margin-top: 6px;
        margin-right: 15px;
      }
      p:nth-child(2) {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
      }
      p:last-child {
        font-size: 14px;
      }
    }
  }
}