<div class="modal-header">
  <h4 class="modal-title pull-left">개인정보처리방침</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  제 1 조 (목적)<br><br>
  1. 개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와
  용이하게 결합하여 식별할 수 있는 것을 포함합니다.)를 말합니다. <br>
  2. ㈜야놀자(이하 "회사"라 함)는 귀하의 개인정보보호를 매우 중요시하며, 『개인정보보호법』,『정보통신망 이용촉진 및 정보보호에 관한 법률』상의 개인정보보호규정 및 방송통신위원회가 제정한 『개인정보보호지침』을
  준수하고 있습니다. 회사는 개인정보처리방침을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br>
  3. 개인정보처리방침은 정부의 법령이나 지침의 변경, 또는 보다 나은 서비스의 제공을 위하여 그 내용이 변경될 수 있습니다. 이 경우 회사는 웹 사이트에서 공지사항에 이를 올리거나 이메일을 통해서 공지하고
  있습니다.<br>
  4. 회사는 개인정보처리방침을 사이트 첫 화면 또는 첫 화면과의 연결화면을 통해 공개함으로써 이용자가 언제나 용이하게 보실 수 있도록 조치하고 있습니다.<br>
  5. 회사는 개인정보처리방침의 지속적인 개선을 위하여 개인정보처리방침을 개정하는데 필요한 절차를 정하고 있습니다.<br><br>
  
  제 2 조 (개인정보 수집에 대한 동의 및 수집 방법)<br><br>
  1. 회사는 이용자께서 회사의 개인정보처리방침 또는 이용약관의 내용에 대해 ‘동의함’ 또는 ‘동의하지 않음’을 클릭할 수 있는 절차를 마련하여 ‘동의함’을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다. 단,
  회사는 다음 각 호의 어느 하나에 해당하는 경우에는 법령에 따라 이와 같은 동의 없이 이용자의 개인정보를 수집∙이용할 수 있습니다.<br>
  1) 정보통신서비스의 제공에 관한 계약을 이행하기 위하여 필요한 개인정보로서 경제적∙기술적인 사유로 통상적인 동의를 받는 것이 뚜렷하게 곤란한 경우<br>
  2) 정보통신서비스 제공에 따른 요금정산을 위하여 필요한 경우<br>
  3) 그 밖에 법률에 특별한 규정이 있는 경우<br><br>
  2. 회사가 개인정보를 수집하는 경우에는 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있으며, 아래와 같은 방법을 통해 개인정보를 수집합니다.<br>
  1) 홈페이지 회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우<br>
  2) 제휴 서비스 또는 단체 등으로부터 개인정보를 제공받는 경우<br>
  3) 고객센터를 통한 상담 과정에서 웹페이지, 메일, 팩스, 전화 등을 통하는 경우<br>
  4) 온∙오프라인에서 진행되는 이벤트∙행사 등을 통한 경우<br><br>
  
  제 3 조 (개인정보 수집∙이용 목적 및 수집항목 등)<br><br>
  1. 이용자는 별도의 회원가입 절차 없이 대부분의 컨텐츠에 자유롭게 접근할 수 있습니다. 그러나 회사는 맞춤형 서비스를 제공하기 위하여 회원서비스 및 제휴사를 통해 이용자의 정보를 수집하고 있습니다. 회사의 회원제
  서비스를 이용하시고자 할 경우 다음의 필수정보를 입력해주셔야 하며 선택항목을 입력하시지 않았다 하여 서비스 이용에 제한은 없습니다.<br>
  <br>
  1) 회원
  <br>
  <table class="table table-bordered">
    <colgroup>
      <col width="10%">
      <col width="30%">
      <col width="30%">
      <col width="30%">
    </colgroup>
    <thead>
      <tr>
        <th>분류</th>
        <th>수집∙이용동의 목적</th>
        <th>항목</th>
        <th>보유∙이용기간</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>필수정보</td>
        <td>서비스 가입, 계약의 이행 및 서비스 제공, 예약∙구매∙관심상품 내역, 결제대금의 청구, 상담∙불만∙민원처리, 고지∙안내사항 전달, 상품∙서비스 이용실적 정보 통계∙분석, 상품∙서비스 개선 및
          추천, 불법∙부정이용방지, 개인정보 유효기간제 준수</td>
        <td>
          - <b>서비스 이용시</b>: 아이디(이메일), 비밀번호, 프로필 사진, 닉네임, 생년월일, 디바이스 ID, 휴대전화 번호, 서비스이용기록, 이용정지기록, 이용해지 기록, IP address,
          접속로그, Cookie, 광고식별자, 단말기 OS와 버전, 단말기 모델명, 브라우저 버전<br>
          - <b>예약∙구매시</b>: 예약자 및 구매자의 이름과 휴대전화 번호, 방문자의 이름과 휴대전화 번호(예약자와 방문자가 다른 경우), 결제정보<br>
          - <b>현금환불요청시</b>: 계좌번호 및 예금주명<br>
        </td>
        <td>
          - <b class="POLICY_EMPHASIZE_UNDERLINE">회원 탈퇴시 즉시 삭제</b>(단, 아이디는 부정이용 이슈 방지를 위해 탈퇴 DB에서 <b
            class="POLICY_EMPHASIZE_UNDERLINE">7일 후</b> 삭제)<br>
          - 관계법령에 따라 보존할 필요가 있는 경우 <b class="POLICY_EMPHASIZE">해당 법령에서 요구하는 기한까지</b> 보관 (예: 구매 회원의 경우 5년간, IP의 경우 3개월)
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-bordered">
    <colgroup>
      <col width="10%">
      <col width="30%">
      <col width="30%">
      <col width="30%">
    </colgroup>
    <thead>
      <tr>
        <th>분류</th>
        <th>수집∙이용동의 목적</th>
        <th>항목</th>
        <th>보유∙이용기간</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>선택정보</td>
        <td><b class="POLICY_EMPHASIZE">개인맞춤형 상품∙서비스 혜택에 관한 정보제공, 통계∙분석∙이용내역 정보와의 결합 및 분석, 회사 또는 기타 광고주의 요청에 따른
            정보∙안내(프로모션∙이벤트)전송</b></td>
        <td>필수 항목으로 수집한 모든 정보</td>
        <td>
          - <b class="POLICY_EMPHASIZE_UNDERLINE">회원 탈퇴시 즉시 삭제</b>(단, 아이디는 부정이용 이슈 방지를 위해 탈퇴 DB에서 <b
            class="POLICY_EMPHASIZE_UNDERLINE">7일 후</b> 삭제)<br>
          - 관계법령에 따라 보존할 필요가 있는 경우 <b class="POLICY_EMPHASIZE">해당 법령에서 요구하는 기한까지</b> 보관 (예: 구매 회원의 경우 5년간, IP의 경우 3개월)
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  2) 비회원
  <br>
  <table class="table table-bordered">
    <colgroup>
      <col width="10%">
      <col width="30%">
      <col width="30%">
      <col width="30%">
    </colgroup>
    <thead>
      <tr>
        <th>분류</th>
        <th>수집∙이용동의 목적</th>
        <th>항목</th>
        <th>보유∙이용기간</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>필수정보</td>
        <td>계약의 이행 및 서비스 제공, 예약∙구매∙관심상품 내역, 결제대금의 청구, 상담∙불만∙민원처리, 고지∙안내사항 전달, 상품∙서비스 이용실적 정보 통계∙분석, 상품∙서비스 개선 및 추천,
          불법∙부정이용방지, 개인정보 유효기간제 준수</td>
        <td>
          - <b>예약∙구매시</b>: 예약자 및 구매자의 이름과 휴대전화 번호, 생년월일, 방문자의 이름과 휴대전화 번호(예약자와 방문자가 다른 경우), 결제정보, 디바이스 ID, 휴대전화 번호,
          서비스이용기록, 이용정지기록, 이용해지 기록, IP address, 접속로그, Cookie, 광고식별자, 단말기 OS와 버전, 단말기 모델명, 브라우저 버전<br>
          - <b>현금환불요청시</b>: 계좌번호 및 예금주명<br>
        </td>
        <td>
          - 이용종료일로부터 <b class="POLICY_EMPHASIZE_UNDERLINE">7일 후</b> 삭제<br>
          - 관계법령에 따라 보존할 필요가 있는 경우 <b class="POLICY_EMPHASIZE">해당 법령에서 요구하는 기한까지</b> 보관 (예: 구매 회원의 경우 5년간, IP의 경우 3개월)
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-bordered">
    <colgroup>
      <col width="10%">
      <col width="30%">
      <col width="30%">
      <col width="30%">
    </colgroup>
    <thead>
      <tr>
        <th>분류</th>
        <th>수집∙이용동의 목적</th>
        <th>항목</th>
        <th>보유∙이용기간</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>선택정보</td>
        <td><b class="POLICY_EMPHASIZE">개인맞춤형 상품∙서비스 혜택에 관한 정보제공, 통계∙분석∙이용내역 정보와의 결합 및 분석, 회사 또는 기타 광고주의 요청에 따른
            정보∙안내(프로모션∙이벤트)전송</b></td>
        <td>필수 항목으로 수집한 모든 정보</td>
        <td>
          - <b class="POLICY_EMPHASIZE">고객 요청시</b> <b class="POLICY_EMPHASIZE_UNDERLINE">즉시 삭제</b><br>
          - 관계법령에 따라 보존할 필요가 있는 경우 <b class="POLICY_EMPHASIZE">해당 법령에서 요구하는 기한까지</b> 보관 (예: 구매 회원의 경우 5년간, IP의 경우
          3개월)<br>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  4) 장기 미이용회원<br>
  (1) 장기미이용 회원은 야놀자 최종 이용 후 1년 동안 이용 기록이 없는 회원을 말합니다.<br>
  (2) 이 회원의 개인정보는 즉시 탈퇴 처리되며, 대상자에게 안내는 탈퇴 처리일 기준으로 최소 30이 이전과 탈퇴 처리 후 두 번에 걸쳐 이메일로 전송됩니다.<br>
  (3) 장기미이용 회원이 탈퇴 처리전에 지속적으로 야놀자 서비스를 이용하시고자 하는 경우, 야놀자 서비스에 로그인 하시기를 요청 드립니다.<br>
  (4) 회원가입 시 장기 미접속시에도 계정 유지를 선택한 회원은 장기미이용 회원이 되더라도 회원이 선택한 기간 동안 탈퇴 처리되지 않으며, 회원이 선택한 기간 또는 회원이 직접 탈퇴 신청할 때까지 개인정보를
  보관합니다.<br>
  5) 법령에 의해 수집 이용되는 회원 정보<br>
  <table class="table table-bordered">
    <colgroup>
      <col width="40%">
      <col width="20%">
      <col width="40%">
    </colgroup>
    <thead>
      <tr>
        <th>보유 정보</th>
        <th>보유 기간</th>
        <th>근거 법령</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>계약 또는 청약철회 등에 관한 기록</td>
        <td>5년</td>
        <td rowspan="4">전자상거래 등에서의 소비자보호에 관한 법률</td>
      </tr>
      <tr>
        <td>대금결제 및 재화 등의 공급에 관한 기록</td>
        <td>5년</td>
      </tr>
      <tr>
        <td>소비자의 불만 또는 분쟁처리에 관한 기록</td>
        <td>3년</td>
      </tr>
      <tr>
        <td>표시•광고에 관한 기록</td>
        <td>6개월</td>
      </tr>
      <tr>
        <td>웹사이트 방문 기록</td>
        <td>3개월</td>
        <td>통신비밀보호법</td>
      </tr>
    </tbody>
  </table>
  <br>
  2. 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 의료정보 등)는 수집하지 않습니다.<br>
  3. 이용자의 개인정보는 서비스를 이용하는 시점부터 서비스를 제공하는 기간 동안에만 제한적으로 이용하고 있습니다. 이용자가 회원탈퇴를 요청하거나 이용자의 마지막 로그인 일시를 기준으로 1년이 초과되어 이용자의 계정이
  탈퇴 처리되는 경우, 제공한 개인정보의 수집 및 이용에 대한 동의를 철회하는 경우, 또는 수집 및 이용목적이 달성되거나 보유 및 이용기간이 종료한 경우 해당 이용자의 개인정보는 지체 없이 파기 됩니다.<br>
  1) 종이에 출력된 개인 정보 : 분쇄기로 분쇄하거나 소각<br>
  2) 전자적 파일 형태로 저장된 개인 정보 : 기록을 재사용할 수 없는 기술적 방법을 사용하여 삭제<br>
  4. 이용자의 동의를 받아 보유하고 있는 거래정보 등을 이용자께서 열람을 요구하시는 경우 회사는 지체 없이 그 내역을 확인 할 수 있도록 조치합니다.<br>
  5. 회사가 서비스 제공을 위해 수집한 이용자의 모든 개인정보는 수집 단계부터 안전한 암호화 통신을 이용하여, AWS(Amazon Web Services) 상의 대한민국 리전에 위치한 데이타센터로 전송되며,
  개인정보처리방침의 보관기간 동안 저장합니다. 클라우드의 보안은 AWS가 취득한 국제 인증 프로그램을 통해서 확인 할 수 있으며, 회사와 클라우드 제공사인 AWS의 공동 책임 문서는 이 링크에서 확인할 수
  있습니다.(https://aws.amazon.com/ko/compliance/shared-responsibility-model/).<br><br>
  제 4 조 (개인정보 자동수집 장치의 설치∙운영 및 그 거부에 관한 사항)<br><br>
  1. 쿠키(cookie)는 웹사이트가 회원의 브라우저(인터넷 익스플로러, 크롬, 파이어폭스, 기타 모바일 브라우저)로 전송하는 소량의 정보입니다. 회사는 회원에 대한 정보를 저장하고 수시로 찾아내는
  ‘쿠키(cookie)’를 사용합니다. 쿠키는 회원의 컴퓨터 또는 모바일 기기는 식별하지만 회원을 개인적으로 식별하지는 않습니다. 또한 회원은 쿠키에 대한 선택권이 있습니다.<br>
  1) 웹브라우저 상단의 도구 &gt; 인터넷옵션 탭(option tab)에서 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있는 선택권을 가질 수 있습니다.
  <br>
  2) 모바일 기기의 경우에도 ‘설정’ 메뉴나 또는 각 모바일 브라우저의 설정 메뉴에서 쿠키에 대한 선택을 제어할 수 있습니다. 다만, 쿠키를 거부할 경우 로그인이 필요한 서비스 이용에 일부 제약이 있을 수
  있습니다.<br><br>
  2. 회사의 쿠키(cookie) 운용<br>
  1) 개인의 관심 분야에 따라 차별화된 정보를 제공<br>
  2) 회원과 비회원의 접속빈도 또는 머문 시간 등을 분석하여 이용자의 취향과 관심분야를 파악하여 타겟(target) 마케팅에 활용<br>
  3) 클릭한 정보들에 대한 세부정보와 관심 있게 둘러본 정보들에 대한 자취를 분석하여 다음 번 접속 때 개인 맞춤 서비스를 제공<br>
  4) 유료서비스 이용 시 이용기간 안내<br>
  5) 회원들의 습관을 분석하여 서비스 개편 등의 척도로 이용<br><br>
  제 5 조 (개인정보의 제3자 제공에 대한 동의)<br><br>
  1. 회사는 회원의 개인정보를 제3조(개인정보수집∙이용 목적 및 수집항목 등)에서 고지한 범위 내에서 사용하며, 동 범위를 초과하여 이용하거나 타인 또는 타기업, 기관에 제공하지 않습니다. 다만, 아래와 같이 양질의
  서비스 제공을 위해 상품 예약. 구매 단계에서 개인정보를 제공 받는 자, 제공목적, 제공 항목, 이용 및 보유기간을 회원에게 고지하여 동의를 구한 후 제3자에게 제공합니다. <br><br>
  <table class="table table-bordered">
    <colgroup>
      <col width="20%">
      <col width="20%">
      <col width="30%">
      <col width="20%">
    </colgroup>
    <thead>
      <tr>
        <th>제공받는자</th>
        <th>제공 목적</th>
        <th>제공 항목</th>
        <th>이용 및 보유기간</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          숙박서비스 제공업체<br>
          <button type="button" class="policy_btn_txt layer_open" id="placeListOpen" style="display:block;"><span>[모텔 업체
              리스트]</span></button>
          <div class="policy_popup_wrap" style="display:none;">
            <div class="layer_popup">
              <div class="pop_cont">
                <div class="pop_inner">
                  <h4>숙박서비스 제공업체 리스트</h4>
                  <fieldset>
                    <legend>숙박서비스 제공업체 리스트 폼</legend>
                    <ul class="list_shop" id="placeListContents"></ul>
                    <div class="policy_cont_paging" id="placeListPage"></div>
                  </fieldset>
                  <button type="button" class="layer_close" id="placeListClose"><span>닫기</span></button>
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript" src="//policy.yanolja.com/js/placeList.js"></script>
          <a class="policy_btn_txt" style="display:block;" href="http://www.yapen.co.kr/rules/pensionLists"
            target="_blnak"><span>[펜션 업체 리스트]</span></a>
          <a class="policy_btn_txt" style="display:block;" href="http://elb.api.hotelnow.co.kr/privacy/hotels"
            target="_blnak"><span>[호텔 업체 리스트]</span></a>
        </td>
        <td><b>예약∙구매한 상품∙서비스의 제공 및 계약의 이행</b>(이용자 및 이용정보 확인, 현장민원처리)</td>
        <td>예약번호, 예약자 정보(예약자명, 휴대전화 번호, 이메일) 또는 방문자 정보(방문자명, 휴대전화 번호, 이메일, 아동나이(17세 이하, 아동이 있는 경우에 한함)</td>
        <td rowspan="7"><b>계약 종료 시까지 또는 회원 탈퇴 시까지.</b> 단, 법령이 정한 시점까지 보존</td>
      </tr>
      <tr>
        <td>㈜레저큐</td>
        <td>서비스 제공, 구매자 및 수취인 확인</td>
        <td>예약번호, 구매자 및 수취인 정보(이름, 휴대전화 번호)</td>
      </tr>
      <tr>
        <td>Travelscape LLC(미국, support@ean.com)</td>
        <td>서비스 제공, 이용자 확인</td>
        <td>예약번호, 이용자 명, 이메일, 아동 나이(17세 이하. 아동이 있는 경우에 한함)</td>
      </tr>
      <tr>
        <td>Rakuten LIFULL STAY, Inc(일본, +81 50 3684 6895)</td>
        <td>서비스 제공, 이용자 확인</td>
        <td>예약번호, 이용자 명, 이메일</td>
      </tr>
      <tr>
        <td>㈜지냄</td>
        <td>게스트하우스 예약 제휴</td>
        <td>예약번호, 예약자명, 휴대전화 번호</td>
      </tr>
      <tr>
        <td>㈜야놀자에프엔지</td>
        <td>채용 상품 등록 및 운영</td>
        <td>업체정보(연락처, 이메일)</td>
      </tr>
      <tr>
        <td>HotelsCombined Pty Ltd ACN 122 130 555(오스트레일리아, legal@hotelscombined.com)</td>
        <td>서비스 제휴</td>
        <td>예약번호, 업체코드, 체크인 날짜, 체크아웃 날짜, 판매가</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  2. 전항에도 불구하고, 다음의 경우에는 예외로 합니다. <br>
  1) 관계법령에 의하여 수사 등의 목적으로 관계기관으로부터 제공 요구가 있을 경우<br>
  2) 통계작성, 학술연구나 시장조사를 위하여 특정 개인을 식별할 수 없는 형태로 광고주 협력사나 연구단체 등에 제공하는 경우<br>
  3) 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우<br><br>
  
  제 6 조 (개인정보의 열람, 정정)<br><br>
  1. 이용자는 언제든지 등록되어 있는 본인의 개인정보를 열람하거나 정정하실 수 있습니다. 개인정보 열람 및 정정을 하고자 할 경우에는 『개인정보수정』을 클릭하여 직접 열람 또는 정정하거나, 개인정보보호책임자 및
  담당자에게 서면, 전화 또는 E-mail로 연락하시면 지체 없이 조치하겠습니다. <br>
  2. 이용자가 개인정보의 오류에 대한 정정을 요청한 경우, 정정을 완료하기 전까지 당해 개인 정보를 이용 또는 제공하지 않습니다. <br>
  3. 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정하도록 조치하겠습니다. <br><br>
  
  제 7 조 (동의 철회)<br><br>
  1. 회원가입 등을 통해 개인정보의 수집, 이용, 제공에 대해 회원이 동의한 내용을 회원은 언제든지 철회하실 수 있습니다. 동의철회는 마이페이지 &gt; 『회원탈퇴』를 클릭하거나 개인정보보호책임자에게 팩스, 우편,
  고객센터, 전화 등으로 연락하시면 개인정보의 삭제 등 필요한 조치를 하겠습니다. 동의 철회를 하고 개인정보를 파기하는 등의 조치를 취한 경우에는 그 사실을 귀하께 지체 없이 통지하도록 하겠습니다. <br>
  2. 회사는 개인정보의 수집에 대한 동의철회(회원탈퇴)를 개인정보를 수집하는 방법보다 쉽게 할 수 있도록 필요한 조치를 취하겠습니다. <br><br>
  
  제 8 조 (개인정보보호를 위한 기술 및 관리적 대책)<br><br>
  1. 기술적 대책: 회사는 이용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다. <br>
  1) 이용자의 개인정보는 비밀번호에 의해 보호되며 파일 및 전송데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다. <br>
  2) 회사는 백신프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 제공함으로써
  개인정보가 침해되는 것을 방지하고 있습니다. <br>
  3) 회사는 암호알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL)를 채택하고 있습니다. <br>
  4) 해킹 등 외부침입에 대비하여 각 서버마다 침입차단시스템 및 취약점 분석시스템 등을 이용하여 보안에 만전을 기하고 있습니다. <br>
  2. 관리적 대책<br>
  1) 회사는 귀하의 개인정보에 대한 접근권한을 최소한의 인원으로 제한하고 있습니다. 그 최소한의 인원에 해당하는 자는 다음과 같습니다. <br>
  (1) 이용자를 직접 상대로 하여 마케팅 업무를 수행하는 자<br>
  (2) 고객의 불만 및 이용문의 처리 업무를 수행하는 자<br>
  (3) 개인정보보호책임자 및 담당자 등 개인정보관리업무를 수행하는 자<br>
  (4) 기타 업무상 개인정보의 처리가 불가피한 자<br>
  2) 입사 시 전 직원의 보안서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보처리방침에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하고 있습니다. <br>
  3) 개인정보 관련 처리자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다. <br>
  4) 사내 개인정보보호 전담기구를 통해 개인정보처리방침의 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다. <br>
  5) 회사는 이용자 개인의 실수나 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다. 회원 개개인이 본인의 개인정보를 보호하기 위해서 자신의 아이디와 비밀번호를 적절하게 관리하고 여기에 대한
  책임을 져야 합니다. <br>
  6) 그 외 내부 관리자의 실수나 기술관리 상의 사고로 인해 개인정보의 상실, 유출, 변조, 훼손이 유발될 경우 회사는 즉각 귀하께 사실을 알리고 적절한 대책과 보상을 강구할 것입니다. <br><br>
  
  제 9 조 (맞춤형 광고 안내)<br><br>
  당사는 이용자의 웹사이트 방문기록, 검색 기록, 앱 사용 기록 등의 행태정보를 기반으로 이용자께 최적화된 맞춤형 서비스 및 혜택을 제공해드리기 위해 노력하고 있습니다. <br>
  이용자께 무의미하고 불필요한 광고 노출을 지양하고, 이용자의 관심 및 흥미 등을 반영한 정보성 광고 노출을 증가시키기 위하여 활용 방송통신위원회의 ‘온라인 맞춤형 광고 개인정보보호 가이드라인’ 준수하고자 본 맞춤형
  광고 안내를 드립니다.<br><br>
  
  방송통신위원회 가이드라인과 본 안내에서 사용된 용어의 정의는 아래와 같습니다.<br>
  - 온라인 행태정보: 웹 사이트 방문이력, 앱 사용 이력, 구매 및 검색 이력 등 이용자의 관심, 흥미, 기호 및 성향 등을 파악하고 분석할 수 있는 온라인상의 이용자 활동정보<br>
  - 온라인 맞춤형 광고: 행태정보를 처리하여 이용자의 관심, 흥미, 기호 및 성향 등을 분석/추정한 후 이용자에게 맞춤형으로 제공되는 온라인 광고<br><br>
  
  1. 행태정보 수집ㆍ이용 안내<br>
  위 행태정보는 서비스 이용 과정에서 자동으로 수집 및 저장되며,개인 식별이 불가능한 상태에서 활용하는 등 개인정보와 결합하여 사용하지 않습니다. <br>
  행태정보 수집은 서비스 이용 과정에서 자동 생성되어 저장되는 형태입니다.<br>
  아울러 당사가 수집하는 행태정보 외에 제휴사(광고사업자)에 의해 이용자의 웹사이트 방문기록, 검색 기록, 앱 사용 기록 등이 수집되어 질 수 있으며, 운영현황은 다음과 같습니다.<br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>행태정보의 수집ㆍ처리 광고 사업자</th>
        <th>수집하는 행태정보 항목</th>
        <th>행태정보 수집 방법</th>
        <th>행태정보 수집 목적</th>
        <th>행태정보 보유ㆍ이용 기간 및 이후 정보처리 방법</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>㈜야놀자, Branch Metrics, Criteo</td>
        <td>이용자의 웹사이트 방문이력, 이용자의 앱 사용 이력, 이용자의 검색 이력, 광고식별자</td>
        <td>이용자의 웹/앱 사이트 방문/실행 시 자동 수집</td>
        <td>사용자 관심 기반의 맞춤형 광고 제공</td>
        <td>웹/앱 사이트 방문 정보 2년, 상품검색 정보 2년</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  2. 행태정보 제공 안내<br>
  당사는 이용자의 비식별 광고ID 기반의 웹사이트 방문기록, 검색 기록, 앱 사용 기록 등의 행태정보를 제휴사(광고사업자)에 제공할 수 있으며, 운영 현황은 다음과 같습니다.<br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>행태정보를 제공받는 자</th>
        <th>제공하는 행태정보의 항목</th>
        <th>행태정보를 제공받는 자의 이용목적</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Branch Metrics, Criteo, 이엠넷, 매드잇</td>
        <td>이용자의 웹사이트 방문이력, 이용자의 앱 사용 이력, 이용자의 검색 이력, 광고식별자</td>
        <td>사용자 관심 기반의 맞춤형 광고 제공</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  3. 고객(이용자) 통제권 행사 방법<br>
  당사의 온라인 맞춤형 광고는 고객에게 적절한 광고를 제공하기 위해 모바일 앱에서 광고 식별자(Advertiser id)를 사용합니다. <br>
  광고 식별자는 모바일 운영체제에서 발급하는 ID로 맞춤형 정보나 광고를 제공하기 위해 사용되는 식별자입니다. 이용자는 맞춤형 광고 수신 여부를 선택할 수 있으며, 아래의 방법으로 언제든지 각 OS에서 맞춤형 광고
  설정을 해제할 수 있습니다.<br><br>
  가. 안드로이드 ① 구글 설정 → ② 광고 → ③ 광고 맞춤설정 선택 해제 ON/OFF<br>
  나. iOS ① 아이폰 설정 → ② 개인정보보호 → ③ 광고 → ④ 광고 추적 제한 ON/OFF<br><br>
  
  4. 고객(이용자) 피해구제 방법<br>
  본 데이터 정책에 대한 문의 또는 불만사항 등이 있으실 경우, 아래로 연락 주시면 적극적으로 대응 및 회신하겠습니다.<br>
  이름: 엄태욱(CPO)<br>
  전화: 1644-1346<br>
  이메일: privacy@yanolja.com<br><br>
  
  제 10 조 (링크사이트)<br><br>
  회사는 이용자들께 귀하께 다른 회사의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 이 경우 회사는 외부사이트 및 자료에 대한 아무런 통제권이 없으므로 그로부터 제공받는 서비스나 자료의 유용성에 대해 책임질
  수 없으며 보증할 수 없습니다. 회사가 포함하고 있는 링크를 클릭(click)하여 타 사이트(site)의 페이지로 옮겨갈 경우 해당 사이트의 개인정보처리방침은 회사와 무관하므로 새로 방문한 사이트의 정책을 검토해
  보시기 바랍니다. <br><br>
  
  제 11 조(개인정보의 위탁처리) <br>
  회사는 서비스 향상을 위해서 이용자의 개인정보를 외부에 수집/처리/관리 등을 위탁하여 처리할 수 있습니다. <br>
  1. 개인정보의 처리를 위탁하는 경우에는 위탁기관 및 그 사실을 홈페이지를 통해 미리 이용자께 고지하겠습니다. 다만, 재화 또는 서비스를 홍보하거나 판매를 권유하는 업무를 위탁하는 경우에는 이용자에게 개별적으로
  이메일 주소 등을 통해 이용자에게 개별 통지하되, 회사가 과실 없이 서면, 전자우편 등의 방법으로 위탁하는 업무의 내용과 수탁자를 귀하에게 알릴 수 없는 경우에 해당사항을 홈페이지에 30일 이상 게시하겠습니다.
  <br>
  2. 개인정보의 처리를 위탁하는 경우에는 위탁계약 등을 통하여 서비스제공자의 개인정보보호 관련 지시엄수, 개인정보에 관한 비밀유지, 제3자 제공의 금지 및 사고시의 책임부담, 위탁기간, 처리 종료후의 개인정보의 반환
  또는 파기 등을 명확히 규정하고 당해 계약내용을 서면 또는 전자적으로 보관하겠습니다. <br>
  3. 회사의 개인정보 위탁처리 기관 및 위탁업무 내용은 아래와 같습니다. <br><br>
  <table class="table table-bordered">
    <colgroup>
      <col width="40%">
      <col width="40%">
      <col width="20%">
    </colgroup>
    <thead>
      <tr>
        <th>수탁 업체</th>
        <th>위탁 업무 내용</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>㈜카카오페이, 갤럭시아커뮤니케이션즈㈜, 엔에이치엔한국사이버결제㈜, 엔에이치엔페이코㈜, 네이버㈜, ㈜케이지이니시스, ㈜케이지모빌리언스, ㈜케이지올앳, ㈜비바리퍼블리카</td>
        <td>신용카드, 휴대폰, 계좌이체, 간편결제 등 결제수단별 결제처리 및 계좌인증</td>
      </tr>
      <tr>
        <td>세종텔레콤㈜, 씨제이올리브네트웍스㈜, 인포뱅크 주식회사, 비즈톡㈜, ㈜신안정보통신, 케이티하이텔㈜, 한국모바일인증㈜, ㈜케이지모빌리언스</td>
        <td>SMS/LMS/MMS 발송, FAX 발송, 050 개인번호 서비스, 알림톡 발송, 본인인증, 본인확인</td>
      </tr>
      <tr>
        <td>㈜케이티씨에스, ㈜제이앤비컨설팅</td>
        <td>고객상담</td>
      </tr>
      <tr>
        <td>㈜스펙트라</td>
        <td>고객 상담(채팅) 서비스를 위한 시스템 및 솔루션 프로그램 운영</td>
      </tr>
      <tr>
        <td>㈜야놀자에프앤지</td>
        <td>이벤트 공지, 안내 및 관련 정보(당첨안내, 쿠폰 발송 등) 전송</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  제 12 조(이용자의 권리와 의무) <br>
  1. 이용자의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며 타인 정보의 도용 등 허위정보를
  입력할 경우 회원자격이 상실될 수 있습니다. <br>
  2. 이용자은 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 비밀번호를 포함한 귀하의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를
  훼손하지 않도록 유의해 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 『정보통신망이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 등에 의해 처벌받을 수 있습니다.
  <br><br>
  
  제 13 조(의견수렴 및 불만처리) <br>
  1. 회사는 이용자의 의견을 소중하게 생각하며, 이용자은 의문사항으로부터 언제나 성실한 답변을 받을 권리가 있습니다. <br>
  2. 회사는 이용자과의 원활한 의사소통을 위해 고객센터를 운영하고 있으며 연락처는 아래와 같습니다. <br>
  [고객센터] <br>
  - 전자우편 : help@yanolja.com<br>
  - 전화번호 : 1644-1346<br>
  - 주소 : 서울 강남구 테헤란로108길 42 (삼성 메디슨) <br>
  3. 기타 개인정보에 관한 상담이 필요한 경우에는 회사의 위 전자우편으로 문의하실 수 있으며, 국가기관에 신고나 상담이 필요한 경우에는 아래의 연락처에 문의하셔서 도움을 받으실 수 있습니다.<br>
  1) 개인정보침해신고센터(http://privacy.kisa.or.kr / 국번 없이 118)<br>
  2) 대검찰청 사이버수사과(http://spo.go.kr / 국번 없이 1301)<br>
  3) 경찰청 사이버안전국(http://cyberbureau.police.go.kr / 국번 없이 182)<br>
  4) 개인정보 분쟁조정위원회(www.kopico.go.kr / 1833-6972)<br><br>
  
  제 14 조(개인정보 보호책임자) <br>
  회사는 이용자께서 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 이용자께 고지한 사항들에 반하는 사고가 발생할 시에 개인정보보호책임자가 모든 책임을 집니다. 그러나
  기술적인 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 책임이 없습니다. 귀하의
  개인정보를 처리하는 책임자 및 담당자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게 답변해드리고 있습니다. <br>
  <br>
  <table class="table table-bordered">
    <colgroup>
      <col width="50%">
      <col width="50%">
    </colgroup>
    <thead>
      <tr>
        <th>개인정보 보호책임자</th>
        <th>개인정보 관리담당자</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          - 성명 : 엄태욱(CPO)<br>
          - 연락처 : 1644-1346, privacy@yanolja.com
        </td>
        <td>
          - 성명 : 설진영(플랫폼실)<br>
          - 연락처 : 1644-1346, privacy@yanolja.com
        </td>
      </tr>
    </tbody>
  </table>
  <br><br>
  제 15 조(개인정보 처리방침의 개정과 그 공지) <br>
  개인정보 처리방침을 변경하는 경우 회사는 홈페이지 첫 화면의 공지사항란 또는 별도의 창을 통하여 지체 없이 공지하고, 이용자가 언제든지 변경된 사항을 쉽게 알아볼 수 있도록 조치하겠습니다. <br><br>
  공지일자 : 2019년 07월 08일<br>
  시행일자 : 2019년 07월 01일<br><br>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">닫기</button>
</div>