<app-sub-title></app-sub-title>
<section class="accommodation-detail fix-height">
  <div class="container">
    <div class="my-container">
    <section class="header-section" *ngIf="!(stayDetailLoading$ | async)">
      <div class="header-div">
        <h1 class="accomodation-name">{{data.name}}</h1>
        <i class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
        </i>
        <span class="header-location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{data.location}}</span>
      </div>
      <div class="review-container">
        <span class="evaluation">{{evaluationText()}}</span>

        <span class="review-count">{{data.totalComments}}개의 이용 후기</span>
        <i>{{data.averageGrade}}</i>
      </div>
    </section>
  
    <section class="accomodation-detail">
      <h1>숙소 상세 페이지</h1>
      <section class="accomodation-imgs-section">
        <h2>숙소 사진</h2>
      <div class="all-wrpper">
        <div class="swiper-container gallery-top" #galleryTop [swiper]="galleryTopConfig">
          <div class="swiper-wrapper">
            <ng-container *ngIf="!!data">
              <div class="swiper-slide" *ngFor="let img of data.urlImage">
                <img [src]="img">
              </div>
            </ng-container>
          </div>
          <div class="swiper-button-next swiper-button-black"></div>
          <div class="swiper-button-prev swiper-button-black"></div>
        </div>
        <div class="swiper-container gallery-thumbs" #galleryThumbs setgalleryThumbs [swiper]="galleryThumbsConfig">
          <div class="swiper-wrapper">
            <ng-container *ngIf="!!data">
            <div class="swiper-slide" *ngFor="let img of data.urlImage">
              <img [src]="img">
            </div>
            </ng-container>
          </div>
        </div>
      </div>
      </section>
      <section class="compare-price-section">
        <h2>객실 가격비교</h2>
        <section class="compare-condition" *ngIf="!(stayDetailLoading$ | async)">
          <h3>비교 조건 선택</h3>
          <div class="check-date">
            <p>날짜 선택</p>
            <div>
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-xs-12 col-md-5 col-lg-4 form-group">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <input
                      class="form-control"
                      #datepicker="bsDaterangepicker"
                      bsDaterangepicker
                      formControlName="dateYMD"
                      [bsConfig]="{ rangeInputFormat: 'YYYY-MM-DD', isAnimated: true, containerClass: 'theme-yanolja', showWeekNumbers: false }"
                      [minDate]="minDate"
                      [container]="'.accommodation-detail'"
                      >
                      <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="!datepicker.isOpen"></i>
                      <i class="fa fa-chevron-up" aria-hidden="true" *ngIf="datepicker.isOpen"></i>
                    </div>
                  </div>
              </form>
            </div>
          </div>
          <div class="check-person" appClickOutside (clickOutSide)="modalHide()">
            <div class="check-cursor" (click)="modalToggle()">
              <i class="fa fa-user" aria-hidden="true"></i>
              <div class="check-person-container">
                <p>총 {{adultCount + childrenCount}}명 (어른: {{adultCount}}명, 아동: {{childrenCount}}명) </p>
              </div>
              <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="!checkPersonModalStatus"></i>
              <i class="fa fa-chevron-up" aria-hidden="true" *ngIf="checkPersonModalStatus"></i>
            </div>
            <div class="modal-person" *ngIf="checkPersonModalStatus">
              <div class="person-header">
                <p>인원</p>
                <i class="fa fa-times" aria-hidden="true" (click)="modalToggle()"></i>
              </div>
              <div class="adult">
                <p>성인</p>
                <div>
                  <button class="minus-button person-button" (click)="adultCountDown()">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                  {{adultCount}}
                  <button class="plus-button person-button" (click)="adultCountUp()">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="children">
                <p>아동</p>
                <div>
                  <button class="minus-button person-button" (click)="childrenCountDown()">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                  {{childrenCount}}
                  <button class="plus-button person-button" (click)="childrenCountUp()">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button class="search btn btn-outline-primary">검색</button>
        </section>
        <section class="room-list-section" *ngIf="!(roomsLoading$ | async)">
        <h3>객실 리스트</h3>
        <ul class="rooms-list">
          <li class="room" [routerLink]="room.roomId" *ngFor="let room of rooms">
            <div>
              <img [src]="room.urlImage[0]">
              <div class="column-div">
                <span class="room-name">{{room.name}}</span>
                <span class="room-standard">기준 {{room.standardPersonnel}}명/ 최대 {{room.maximumPersonnel}}명</span>
                <div class="reservation-status" *ngIf="!(room.hoursAvailable && room.stayAvailable)">예약가능</div>
                <div class="reservation-status not-available" *ngIf="room.hoursAvailable && room.stayAvailable">예약불가</div>
              </div>
            </div>
            <div class="room-div">
              <ng-container *ngIf="!room.rentalAvailable">
                <div>
                  <ng-container *ngIf="room.hoursAvailable">
                  <div>
                    <span class="room-type">대실</span>
                    <span class="room-available-time">최대 {{room.hoursAvailable}}시간</span>
                  </div>
                  <span class="room-price">{{room.saleHoursPrice | number}}원</span>
                </ng-container>
                <span class="reservation-done" *ngIf="!room.hoursAvailable">예약마감</span>
                </div>
              </ng-container>
              <ng-container *ngIf="!room.stayAvailable">
                <div>
                  <ng-container *ngIf="!!room.daysCheckIn">
                  <div>
                    <span class="room-type">숙박</span>
                    <span class="room-available-time">{{room.daysCheckIn}}:00 부터</span>
                  </div>
                  <span class="room-price">{{room.saleDaysPrice | number}}원</span>
                  </ng-container>
                  <span class="reservation-done" *ngIf="!room.daysCheckIn">예약마감</span>
                </div>
              </ng-container>
            </div>
          </li>
        </ul>
        </section>
      </section>
      <section class="accomodation-information-section" *ngIf="!(stayDetailLoading$ | async)">
        <h2>숙소 정보</h2>
        <section class="accomodation-location">
          <div class="map-overlay"></div>
          <h3>숙소 위치 보기</h3>
          <p>
            <i class="fa fa-map-marker accomodation-map-marker fa-3x" aria-hidden="true"></i>
            <span>
              {{data.location}}
            </span>
          </p>
          <div>
          <button class="copy-location" (click)="copyText()">
            <i class="fa fa-clone" aria-hidden="true"></i>
            주소 복사</button>
          <button class="location-map" (click)="openLocation(template)">
            <i class="fa fa-map-o" aria-hidden="true"></i>
            지도 보기</button>
          </div>
        </section>
        <section class="facilities"  [class.facilities-active]="facilitiesStatus">
          <h3>편의 시설</h3>
          <ul class="facilities-list">
            <li class="facilities-item" *ngFor="let serviceKind of data.serviceKinds">
              <figure>
              <img [src]="'../../../assets/img/accommodation/icon/' + serviceKind + '.png'">
              <figcaption>{{serviceText(serviceKind)}}</figcaption>
              </figure>
            </li>
          </ul>
          <p *ngIf="!facilitiesStatus && data.serviceKinds.length > 9" (click)="openMore()">편의시설 더 보기</p>
          <p *ngIf="facilitiesStatus" (click)="openMore()">닫기</p>
        </section>
        <section class="introduce">
          <h3>소개</h3>
          <ul>
            <li *ngFor="let info of data.serviceNotice">
              {{info}}
            </li>
          </ul>
        </section>
      </section>
      <section class="review-section" *ngIf="!!data">
        <h2>후기 {{data.totalComments}}</h2>
        <ng-container *ngIf="data.totalComments">
        <div class="grade">
          <div class="grade-number">{{data.averageGrade}}</div>
          <div class="grade-text" *ngIf="data.averageGrade >= 4.5">{{evaluationText()}}</div>
        </div>
        <div class="grade-score">
          <ul>
            <li class="grade-item" *ngFor="let totalgrade of data.totalGrade; let i = index">
              <p>{{gradeText(i)}}</p>
              <div class="item-background">
                <div class="item-foreground" [style.width]="totalgrade * 20 + '%'"></div>
              </div>
              <p>{{totalgrade}}</p>
            </li>
          </ul>
        </div>
        <ul class="review-list">
          <ng-container *ngFor="let review of reviews">
          <li class="review-item" *ngIf="review">
            <div class="review-score" [innerText]="getGrade(review.grade)"></div>
            <span class="review-title">{{review.stay}}</span>
            <p class="review-detail">{{review.text}}</p>
            <span>{{review.nickname}} · {{splitDate(review.created)}} · {{review.reservedRoom}}</span>
          </li>
        </ng-container>
        </ul>
        <a routerLink="/accommodation/1/review"
        [queryParams]=
        "{ totalComments: data.totalComments, 
          averageGrade: data.averageGrade, 
          totalGrade1: data.totalGrade[0], 
          totalGrade2: data.totalGrade[1], 
          totalGrade3: data.totalGrade[2], 
          totalGrade4: data.totalGrade[3],
          stayId: data.stayId }"
        >
        후기 더 보기
        </a>
      </ng-container>
      <ng-container *ngIf="!!data && !data.totalComments">
        <div class="no-review-container">
          <span class="no-review">            
            후기가 없습니다.
          </span>
        </div>
      </ng-container>
    </section>
    </section>
    </div>
  </div>
</section>
<app-footer></app-footer>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">숙소 위치 보기</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="map-wrap">
      <p>{{ address }}</p>
      <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <agm-marker [(latitude)]="lat" [(longitude)]="lng"></agm-marker>
      </agm-map>
    </div>
    <button class="btn btn-primary d-block w-100" (click)="closeLocation()">닫기</button>
  </div>
</ng-template>