@import '../../../output-scss/common.scss';
@import '~swiper/dist/css/swiper.min.css';

/*버튼 애니메이션*/
button {
  cursor: pointer;
  transition: box-shadow .1s ease-out,background-color .1s ease-out,color .1s ease-out,border-bottom .1s ease-out;
  outline: none;
}
/* 헤더 디자인*/
.header-section {
  height: 115px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row; 
  position: relative;
  margin:48px 0 40px 0;
  justify-content: space-between;
}
/*별점*/
.stars {
  width: 100px;
  height: 10px;
  position: absolute;
  top: 10px;
  color: #ffbf00;
}
/*숙소 명*/
.accomodation-name {
  font-size: 32px;
  margin-top: 32px;
  font-weight: 600;
}
/*헤더- 숙소위치*/
.header-location {
  position: absolute;
  bottom: 10px;
  font-size: 13px;
  color: #848c94;
}
/*flex 위치 배분을 위한 container 분리*/
.review-container {
  align-self: flex-end;
  position: relative;
  width: 160px;
  height: 43px; 
  padding-right: 45px;
}

.review-container span {
  display: block;
  text-align: right;
}
/*리뷰 간단 평가*/
.evaluation {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
/*리뷰 수*/
.review-count {
  font-size: 12px;
  color: #848c94;
}
/*평점*/
.review-container i {
  background: #E2054F;
  position: absolute;
  right: 0;
  top: -5px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  border-radius: 10px 10px 10px 0;
  text-align: center;
  color: #fff;
}

/*사진 섹션*/
.accomodation-imgs-section {
  width: 100%;
  height: 605px;
  margin-bottom: 120px;
  position: relative;
}
.accomodation-detail h1 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
.accomodation-imgs-section h2 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
/*캐러셀*/
.gallery-top .swiper-slide {
  text-align: center;
  background-color: #fff;
}
.gallery-top .swiper-slide img {
  height: 600px;
}
.gallery-thumbs {
  width: 900px;
  margin: 20px auto 0;
}
.gallery-thumbs .swiper-slide {
  overflow: hidden;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide img {
  width: 100%;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

/*객실 가격 비교 섹션*/
.compare-price-section {
  width: 100%;
}
.compare-price-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* 객실 비교조건 선택*/
.compare-condition {
  width: 100%;
  height: 136px;
  padding: 45px;
  /* 패딩 24px에서 45px로 변경*/
  display: flex;
  flex-direction: row;
  border: 1px solid #e9ecef;
}
.compare-condition h3 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
  display: flex;
}
.check-date {
  width: 100%;
  height: 45px;
  border: 1px solid #e9ecef;
}

/*객실 리스트*/
.room-list-section {
  width: 100%;
}
.room-list-section h3{
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
.room {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #e9ecef;
  margin-bottom: 5px;
  position: relative;
  padding: 28px 0;
  cursor: pointer;
  transition: box-shadow .1s ease-out,background-color .1s ease-out,color .1s ease-out,border-bottom .1s ease-out;
}
.room:hover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}
.room-div { 
  display: flex;
  width: 40%;
}
.room-div div{
  padding-left: 28px;
  width:50%;
  border-left: 1px solid #e9ecef;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.room-type {
  font-size: 20px;
  font-weight: 600;
}
.room-available-time {
  font-size: 14px;
  color: #848c94;
}
.room-price {
  align-self: flex-end;
  margin-right: 20px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
}
.room img {
  height: 218px;
  float:left;
  margin-top: -28px;
}
.room-name {
  font-size: 20px;
  font-weight: 600;
  margin-left: 28px;
}
.room-standard {
  white-space: nowrap;
  margin-left: 30px;
  font-size: 14px;
  color: #848c94;
}
.column-div {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.reservation-status {
  position: absolute;
  bottom: 0;
  background-color: $primary-color;
  margin-left: 30px;
  height: 35px;
  width: 120px;
  font-size: 600;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
/*숙소 정보*/ 
.accomodation-information-section {
  margin-top: 130px;
}
.accomodation-information-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
/*숙소 위치*/
.accomodation-location h3 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
.accomodation-location {
  padding: 20px 20px;
  height: 80px;
  width: 100%;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-image: url('https://www.myrealtrip.com/webpack/590be932155f0683aadc57085981e444.svg');
}
.accomodation-location button {
  width: 106px;
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 2px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #495056;
  margin-left: 4px;
  align-self: flex-end;
}
.accomodation-location button:hover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}
.accomodation-location p {
  align-self: flex-start;
  font-size: 14px;
  color: #495056;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  order: -1;
  z-index: 2;
}
.accomodation-map-marker {
  color: $primary-dark-color;
  margin: 0 10px 0 10px;
}
.map-overlay {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(270deg,rgba(245,251,255,0),#fff);
  z-index: 0;
}
.accomodation-location div:nth-last-child(1) {
  z-index: 2;
}
/*편의시설*/
.facilities {
  height: 164px;
  width: 100%;
  padding: 32px 0;
  border-bottom: 1px solid rgb(233, 236, 239);
  display: flex;
  flex-direction: row;
}
.facilities h3 {
  font-size: 17px;
  font-weight: 700;
  width: 20%;
}
.facilities-list {

 display: flex;
 padding: 0 10px;
 overflow: hidden;
}
.facilities-list li {
  width: 92px;
  height: 50px;
  margin-bottom: 24px;
  background-color: aliceblue;
  margin-right: 10px;
}

/*소개*/
.introduce {
  padding: 32px 0;
  border-bottom: 1px solid rgb(233, 236, 239);
  width: 100%;
  display: flex;
}
.introduce h3 {
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  width: 200PX;
}
.introduce p {
  width: 100%;
  font-size: 15px;
  padding-right: 30px;
}

/*후기*/
.review-section {
  padding: 32px 0;
  width: 100%;
}
.review-section h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}
.grade {
  width: 30%;
  height: 154px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(233, 236, 239);
  border-radius: 2px;
  float: left;
}
.grade-number {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  background: #E2054F;
  font-size: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 48px;
  border-radius: 9px 9px 9px 0px;
  margin: 40px auto 10px auto;
}
.grade-text {
  font-size: 16px;
  font-weight: 700;
  color: rgb(73, 80, 86);
  text-align: center;
}
.grade-score {
  width: 65%;
  height: 154px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(233, 236, 239);
  border-radius: 2px;
  margin-left: calc(30% + 10px);
}
.grade-score ul {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 32px;
}
.grade-item {
  width: calc(45% - 16px);
  margin-bottom: 20px;
  margin-right: 38px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.item-background {
  width: 100%;
  height: 4px;
  position: relative;
  background-color: rgb(233, 236, 239);
  border-radius: 2px;
}
.grade-item p:nth-child(1) {
  font-size: 13px;
  color: rgb(73, 80, 86);
  line-height: 18px;
  margin-bottom: 2px;
}
.grade-item p:nth-last-child(1) {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(102, 109, 117);
  position: absolute;
  right: -24px;
  top: 50%;
}
.item-foreground {
  height: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $primary-color;
  border-radius: 2px;
  z-index: 2;
  /*임시 width*/
  width: 90%;
}
/*container 임시 width*/
.my-container {
  width: 1160px;
  margin: 0 auto;
}
.review-item {
  width: calc(90% + 10px);
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(233, 236, 239);
}
.review-score {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: #E2054F;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 32px;
  border-radius: 6px 6px 6px 0px;
  display: inline-block;
}
.review-item span:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  color: rgb(52, 58, 64);
  line-height: 32px;
  margin-bottom: 0px;
  margin-left: 6px;
}
.review-item p {
  margin: 20px 0 20px 50px;
  font-size: 14px;
  color: rgb(73, 80, 86);
}
.review-item span:nth-last-child(1) {
  padding-left: 50px;
  font-size: 12px;
  color: rgb(132, 140, 148);
}