@import '../../../output-scss/common.scss';
@import '~swiper/dist/css/swiper.min.css';

/*버튼 애니메이션*/
button {
  cursor: pointer;
  transition: box-shadow .1s ease-out,background-color .1s ease-out,color .1s ease-out,border-bottom .1s ease-out;
  outline: none;
}
/* 헤더 디자인*/
.header-section {
  height: 115px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row; 
  position: relative;
  margin:48px 0 40px 0;
  justify-content: space-between;
}
/*별점*/
.stars {
  width: 100px;
  height: 10px;
  position: absolute;
  top: 10px;
  color: #ffbf00;
}
/*숙소 명*/
.accomodation-name {
  font-size: 32px;
  margin-top: 32px;
  font-weight: 600;
}
/*헤더- 숙소위치*/
.header-location {
  position: absolute;
  bottom: 10px;
  font-size: 13px;
  color: #848c94;
}
/*flex 위치 배분을 위한 container 분리*/
.review-container {
  align-self: flex-end;
  position: relative;
  width: 160px;
  height: 43px; 
  padding-right: 45px;
}

.review-container span {
  display: block;
  text-align: right;
}
/*리뷰 간단 평가*/
.evaluation {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
/*리뷰 수*/
.review-count {
  font-size: 12px;
  color: #848c94;
}
/*평점*/
.review-container i {
  background: #E2054F;
  position: absolute;
  right: 0;
  top: -5px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  border-radius: 10px 10px 10px 0;
  text-align: center;
  color: #fff;
}


/*사진 섹션*/
.accomodation-imgs-section {
  width: 100%;
  height: 605px;
  margin-bottom: 120px;
  position: relative;
}
.accomodation-detail {
  position: relative;
}
.accomodation-detail h1 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
.accomodation-imgs-section h2 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
.dib-heart {
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 2;
  font-size: 25px;
  color: $primary-color;
  cursor: pointer;
}
/*캐러셀*/
.gallery-top .swiper-slide {
  text-align: center;
  background-color: #fff;
}
.gallery-top .swiper-slide img {
  height: 600px;
}
.gallery-thumbs {
  width: 900px;
  margin: 20px auto 0;
}
.gallery-thumbs .swiper-slide {
  overflow: hidden;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide img {
  width: 100%;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

/*객실 가격 비교 섹션*/
.compare-price-section {
  width: 100%;
}
.compare-price-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* 객실 비교조건 선택*/
.compare-condition {
  width: 100%;
  padding: 24px 45px;
  /* 패딩 24px에서 45px로 변경*/
  border: 1px solid #e9ecef;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.compare-condition h3 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
  position: absolute;
}
.check-date {
  width: 336px;
  height: 45px;
  justify-self: flex-start;
}
.form-control {
  width: 336px;
  display: block;
  cursor: pointer;
  font-weight: 600;
  color: transparent;
  text-shadow: 0 0 0 #000;
  background: transparent;
  padding-left: 40px;
  border: 1px solid #e9ecef;

&:focus {
    outline: none;
}
.bs-form {
  width: 336px;
}
.row {
  width: 336px;
}
}
/*아이콘 css설정*/
.fa-chevron-down, .fa-chevron-up {
  @include vertical-center;
  right: 15px;
  z-index: -1;
  color: $primary-color;
}
.fa-calendar-check-o {
  @include vertical-center;
  left: 16px;
  z-index: -1;
  color: $primary-color;
}

.check-date p {
  font-size: 20px;
  font-weight: 600;
  
}
.form-group {
  width: 100%;
  position: relative;
}
/* 인원 선택*/
.check-person {
  width: 336px;
  height: 40px;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  background: #fff;
  position: relative;
  user-select: none;
}
.check-person-container {
  padding: 7px 10px 8px 50px;
}
.check-person-container>p {
  font-weight: 600;
  font-size : 16px;
}
.check-cursor>.fa-chevron-down, .check-cursor>.fa-chevron-up {
  right: 10px;
  position: absolute;
  z-index: 1;
}
.check-cursor {
  cursor: pointer;
  height: 100%;
}
.check-cursor-active {
  box-shadow: 0 0 0 0.2rem rgba(255, 52, 120, 0.25);
  transition: all 0.08s ease;
  border-radius: 2px;
}
.fa-times {
  cursor: pointer;
}
.fa-user {
  @include vertical-center;
  color: $primary-color;
  left: 20px;
}
.modal-person {
  width: 100%;
  position: absolute;
  top: 60px;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #aaa;
  transition: all 0.5s ease-in-out;
}
.modal-person>div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-person>.person-header {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
}
.person-button {
  border-radius: 24px;
  width: 32px;
  height: 32px;
  border: 1px solid #ced4da;
  background: #fff;
}
.adult>div, .children>div {
  font-weight: 500;
  font-size: 16px;
}
.plus-button {
  margin-left: 10px;
}
.minus-button {
  margin-right: 10px;
}
.search {
  font-weight: 600;
  border: 1px solid $primary-color;
  border-radius: 2px;
  width: 15%;
  height: 100%;
  outline-style: none;
  align-items: center;
  background-color: #fff;
  height: 40px;
  justify-self: flex-end;
}
.search:hover {
  background: #FFF2F5;
}

/*객실 리스트*/
.room-list-section {
  width: 100%;
}
.room-list-section h3{
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
.room {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #e9ecef;
  margin-bottom: 15px;
  position: relative;
  padding: 28px 0;
  cursor: pointer;
  transition: box-shadow .1s ease-out,background-color .1s ease-out,color .1s ease-out,border-bottom .1s ease-out;
}
.room:hover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}
.room-div { 
  display: flex;
  width: 40%;
  max-width: 40%;
  flex-direction: row-reverse;
}
.room-div>div{
  padding-left: 28px;
  width: 50%;
  border-left: 1px solid #e9ecef;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.room-type {
  font-size: 20px;
  display: block;
  font-weight: 600;
}
.room-available-time {
  font-size: 14px;
  color: #848c94;
}
.room-price {
  align-self: flex-end;
  margin-right: 20px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
}
.room img {
  height: 218px;
  float:left;
  margin-top: -28px;
  max-width: 326px;
}
.room-name {
  font-size: 20px;
  font-weight: 600;
  margin-left: 28px;
}
.room-standard {
  white-space: nowrap;
  margin-left: 30px;
  font-size: 14px;
  color: #848c94;
}
.column-div {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.reservation-status {
  position: absolute;
  bottom: 0;
  background-color: $primary-color;
  margin-left: 30px;
  height: 35px;
  width: 120px;
  font-size: 600;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.not-available {
  background-color: #848c94;
}
.reservation-done {
  color: #E2054F;
  background-color: $primary-light-color;
  height: 40px;
  width: 120px;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  align-self: flex-end;
  margin-right: 28px;

}
/*숙소 정보*/ 
.accomodation-information-section {
  margin-top: 130px;
}
.accomodation-information-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
/*숙소 위치*/
.accomodation-location h3 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
.accomodation-location {
  padding: 20px 20px;
  height: 80px;
  width: 100%;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-image: url('https://www.myrealtrip.com/webpack/590be932155f0683aadc57085981e444.svg');
}
.accomodation-location button {
  width: 106px;
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 2px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #495056;
  margin-left: 4px;
  align-self: flex-end;
}
.accomodation-location button:hover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}
.accomodation-location p {
  align-self: flex-start;
  font-size: 14px;
  color: #495056;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  order: -1;
  z-index: 2;
  position: relative;
}
.accomodation-location p span {
  @include vertical-center;
  width: 100%;
}
.accomodation-map-marker {
  color: $primary-dark-color;
  margin: 0 10px;
}
.map-overlay {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(270deg,rgba(245,251,255,0),#fff);
  z-index: 0;
}
.accomodation-location div:nth-last-child(1) {
  z-index: 2;
}
/*편의시설*/
.facilities {
  height: 150px;
  width: 100%;
  padding: 32px 0;
  border-bottom: 1px solid rgb(233, 236, 239);
  display: flex;
  flex-direction: row;
  position: relative;
  transition-timing-function: ease;
  transition-property: all;
  transition-duration: 1s;
}
.facilities-active {
  transition-timing-function: ease;
  transition-property: all;
  transition-duration: 1s;
  height: 240px;
}
.facilities h3 {
  font-size: 17px;
  font-weight: 700;
  width: 12%;
}
.facilities-list {
  width: 1000px;
  display: flex;
  padding: 0 10px;
  overflow: hidden;
  flex-wrap: wrap;
}
.facilities-item {
  width: 92px;
  height: 50px;
  margin-bottom: 44px;
  margin-right: 10px;
  position: relative;
}
.facilities-item figure img {
  width: 50px;
  @include horizontal-center;
}
.facilities-item figure figcaption {
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  @include horizontal-center;
  white-space: nowrap;
}
.facilities p {
  @include horizontal-center;
  bottom: 10px;
  cursor: pointer;
  color: $primary-color;
  font-size: 17px;
}
.facilities-text-active {
  display: none;
}


/*소개*/
.introduce {
  padding: 32px 0;
  border-bottom: 1px solid rgb(233, 236, 239);
  width: 100%;
  display: flex;
}
.introduce h3 {
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  width: 200PX;
}
.introduce li {
  width: 100%;
  font-size: 15px;
  padding-right: 30px;
}

/*후기*/
.review-section {
  padding: 32px 0 60px 0;
  width: 100%;
  position: relative;
}
.review-section h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}
.review-section a {
  @include horizontal-center;
  bottom: 20px;
  cursor: pointer;
  color: $primary-color;
  font-size: 17px;
  left: 45%;
}
// .grade {
//   width: 30%;
//   height: 154px;
//   border-width: 1px;
//   border-style: solid;
//   border-color: rgb(233, 236, 239);
//   border-radius: 2px;
//   float: left;
// }
// .grade-number {
//   width: 48px;
//   height: 48px;
//   margin-bottom: 10px;
//   background: #E2054F;
//   font-size: 24px;
//   font-weight: 600;
//   color: rgb(255, 255, 255);
//   text-align: center;
//   line-height: 48px;
//   border-radius: 9px 9px 9px 0px;
//   margin: 40px auto 10px auto;
// }
// .grade-text {
//   font-size: 16px;
//   font-weight: 700;
//   color: rgb(73, 80, 86);
//   text-align: center;
// }
// .grade-score {
//   width: 65%;
//   height: 154px;
//   border-width: 1px;
//   border-style: solid;
//   border-color: rgb(233, 236, 239);
//   border-radius: 2px;
//   margin-left: calc(30% + 10px);
// }
// .grade-score ul {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 20px 32px;
// }
// .grade-item {
//   width: calc(45% - 16px);
//   margin-bottom: 20px;
//   margin-right: 38px;
//   display: flex;
//   flex-wrap: wrap;
//   position: relative;
// }
// .item-background {
//   width: 100%;
//   height: 4px;
//   position: relative;
//   background-color: rgb(233, 236, 239);
//   border-radius: 2px;
// }
// .grade-item p:nth-child(1) {
//   font-size: 13px;
//   color: rgb(73, 80, 86);
//   line-height: 18px;
//   margin-bottom: 2px;
// }
// .grade-item p:nth-last-child(1) {
//   margin-left: 8px;
//   font-size: 12px;
//   font-weight: 600;
//   color: rgb(102, 109, 117);
//   position: absolute;
//   right: -24px;
//   top: 50%;
// }
// .item-foreground {
//   height: 4px;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   background-color: $primary-color;
//   border-radius: 2px;
//   z-index: 2;
//   /*임시 width*/
//   width: 90%;
// }
// /*container 임시 width*/
// .my-container {
//   width: 1160px;
//   margin: 0 auto;
// }
// .review-item {
//   width: calc(90% + 10px);
//   padding-top: 20px;
//   padding-bottom: 20px;
//   border-bottom: 1px solid rgb(233, 236, 239);
// }
// .review-score {
//   width: 32px;
//   height: 32px;
//   margin-right: 10px;
//   background: #E2054F;
//   font-size: 16px;
//   font-weight: 600;
//   color: rgb(255, 255, 255);
//   text-align: center;
//   line-height: 32px;
//   border-radius: 6px 6px 6px 0px;
//   display: inline-block;
// }
// .review-item span:nth-child(2) {
//   font-size: 18px;
//   font-weight: 600;
//   color: rgb(52, 58, 64);
//   line-height: 32px;
//   margin-bottom: 0px;
//   margin-left: 6px;
// }
// .review-item p {
//   margin: 20px 0 20px 50px;
//   font-size: 14px;
//   color: rgb(73, 80, 86);
// }
// .review-item span:nth-last-child(1) {
//   padding-left: 50px;
//   font-size: 12px;
//   color: rgb(132, 140, 148);
// }
.review-header {
  padding-bottom: 20px;
}
.all-grade-wrap {
  position: relative;
  margin-right: 60px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% + 40px);
    width: 2px;
    height: 100%;
    background-color: #CCC;
    transform: rotate(16deg);
  }
  .all-grade {
    display: inline-block;
    position: relative;
    width: 72px;
    height: 90px;
    margin: 0 0 5px 5px;
    font-size: 35px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    line-height: 76px;
    border-radius: 9px 9px 9px 0px;
    img {
      @include both-center;
      height: 100%;
      z-index: -1;
    }
  }
}
.grade-item {
  display: inline-block;
  width: 95px;
  margin: 0 0 6px 10px;
  color: #848C94;
  text-align: center;
  .grade-item-num {
    position: relative;
    height: 90px;
    margin-bottom: 5px;
    color: #FFF;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    line-height: 76px;
    img {
      @include both-center;
      height: 100%;
      z-index: -1;
    }
  }
}
.review-list {
  .review-item {
    padding: 20px 0;
    border-top: 1px solid #E9ECEF;
    .review-item-header {
      margin-bottom: 10px;
    }
    .grade {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 38px;
      margin-right: 15px;
      font-size: 16px;
      font-weight: 600;
      color: #FFF;
      text-align: center;
      line-height: 32px;
      border-radius: 6px 6px 6px 0px;
      span {
        @include horizontal-center;
      }
      img {
        @include horizontal-center;
        height: 100%;
        z-index: -1;
      }
    }
    .review-info {
      display: inline-block;
      font-size: 12px;
      color: #848C94;
      line-height: 32px;
      vertical-align: top;
    }
    .review-date {
      float: right;
      font-size: 12px;
      color: #848C94;
      line-height: 32px;
      vertical-align: top;
    }
  }
  .owner {
    margin-top: 20px;
    padding: 20px;
    background-color: #FAFAFA;
    border-radius: 10px;
    h5 {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 600;
      span {
        float: right;
        color: #848C94;
        font-size: 12px;
        font-weight: 400;
      }
    }
    p {
      color: #888;
    }
  }
}
.no-review-container {
  display: flex;
  justify-content: center;
}
.no-review {
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
}
.modal-title {
  font-size: 16px;
}
/*scss*/
.modal-body {
  .map-wrap {
    position: relative;
    margin-bottom: 15px;
    p {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      padding: 5px 10px;
      background-color: rgba(255, 255, 255, .8);
    }
  }
  agm-map {
    height: 600px;
  }
}
