<section class="accommodation-detail">
  <div class="container">
    <section class="header-section">
      <div class="header-div">
        <h1 class="accomodation-name">도미인 서울 강남</h1>
        <i class="stars"></i>
        <span class="header-location">강남구 봉은사로 134</span>
      </div>
      <div class="review-container">
        <span class="evaluation">우수함</span>
        <span class="review-count">이용후기 개수</span>
        <i>8.9</i>
      </div>
    </section>
  
    <section class="navigation-bar">
    </section>
  
    <section class="accomodation-detail">
      <h1>숙소 상세 페이지</h1>
      <section class="accomodation-imgs-section">
        <h2>숙소 사진</h2>
      </section>
      <section class="compare-price-section">
        <h2>객실 가격비교</h2>
        <section class="compare-condition">
          <h3>비교 조건 선택</h3>
          <div class="check-date">날짜</div>
          <div class="check-person">인원</div>
          <button class="search">재검색</button>
        </section>
        <section class="room-list-section">
        <h3>객실 리스트</h3>
        <ul class="rooms-list">
          <li class="room">
            <span class="room-name">객실 A</span>
            <div>
              <span class="room-price">50000원</span>
              <span class="room-shocking">30000원</span>
              <button class="select-room">선택</button>
            </div>
          </li>
        </ul>
        </section>
      </section>
      <section class="accomodation-information-section">
        <h2>숙소 정보</h2>
        <section class="accomodation-location">
          <h3>숙소 위치 보기</h3>
          <button class="copy-location">주소 복사</button>
          <button class="location-map">지도 보기</button>
        </section>
        <section class="facilities">
          <h3>편의시설</h3>
        </section>
        <section class="introduce">
          <h3>소개</h3>
        </section>
      </section>
      <section class="review-section">
        <h2>후기</h2>
        <div class="grade"></div>
        <div class="grade-score"></div>
      </section>
    </section>
    </div>
</section>