<section class="main-wrapper fix-height">
  <section class="main-header">
    <div class="container">
      <h2>야 너도 놀수있어</h2>
      <div class="search-panel"></div>
      <div  class="swiper-container" [swiper]="headerConfig">
          <div class="swiper-wrapper">
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
            <div class="swiper-slide">Swiper slide content</div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
    </div>
  </section>
</section>
<app-footer></app-footer>