<section class="main-wrapper fix-height">
  <section class="main-header">
    <div class="container">
      <h2>야 너도 놀수있어</h2>
      <div class="search-panel"></div>
      <div class="swiper-panel">
        <div class="swiper-container" [swiper]="headerConfig">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a routerLink="/accommodation" class="hash-item franchise">
                <div class="hash-bg"></div>
                <h3>프랜차이즈</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a routerLink="/accommodation" class="hash-item remodeling">
                <div class="hash-bg"></div>
                <h3>신축/리모델링</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a routerLink="/accommodation" class="hash-item super-special">
                <div class="hash-bg"></div>
                <h3>초특가 할인</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a routerLink="/accommodation" class="hash-item party">
                <div class="hash-bg"></div>
                <h3>파티룸</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a routerLink="/accommodation" class="hash-item franchise">
                <div class="hash-bg"></div>
                <h3>프랜차이즈</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a routerLink="/accommodation" class="hash-item remodeling">
                <div class="hash-bg"></div>
                <h3>신축/리모델링</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a routerLink="/accommodation" class="hash-item super-special">
                <div class="hash-bg"></div>
                <h3>초특가 할인</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a routerLink="/accommodation" class="hash-item party">
                <div class="hash-bg"></div>
                <h3>파티룸</h3>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev main-swiper-button-prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
        <div class="swiper-button-next main-swiper-button-next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="main-contents">
    <div class="container">
      <div class="content-panel">
        <h2>올여름 트랜드는 여~기</h2>
        <div class="swiper-panel">
          <div class="swiper-container" [swiper]="contentConfig">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a routerLink="/accommodation" class="content-item">
                  <div class="content-img-wrap">
                    <img src="https://yaimg.yanolja.com/resize/place/v4/2017/08/24/06/640/599df9c8524630.94491845.jpg" alt="역삼 리치웰">
                  </div>
                  <div class="content-text-wrap">
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> 서울 강남구 테헤란로37길 13-10</div>
                    <h3>역삼 리치웰</h3>
                    <div class="customer">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>4.7</span>
                      <i class="fa fa-comments" aria-hidden="true"></i>
                      <span>3,401</span>
                    </div>
                    <div class="type borrow">
                      <h4>대실 <span>최대 6시간</span></h4>
                      <p>30.000원</p>
                      <div class="price">25,000<small>원</small></div>
                    </div>
                    <div class="type one-night">
                      <h4>숙박 <span>16:00 ~</span></h4>
                      <p>70.000원</p>
                      <div class="price">59,800<small>원</small></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a routerLink="/accommodation" class="content-item">
                  <div class="content-img-wrap">
                    <img src="https://yaimg.yanolja.com/resize/place/v4/2017/08/24/06/640/599df9c8524630.94491845.jpg" alt="역삼 리치웰">
                  </div>
                  <div class="content-text-wrap">
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> 서울 강남구 테헤란로37길 13-10</div>
                    <h3>역삼 리치웰</h3>
                    <div class="customer">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>4.7</span>
                      <i class="fa fa-comments" aria-hidden="true"></i>
                      <span>3,401</span>
                    </div>
                    <div class="type one-night">
                      <h4>숙박 <span>16:00 ~</span></h4>
                      <p>70.000원</p>
                      <div class="price">59,800<small>원</small></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a routerLink="/accommodation" class="content-item">
                  <div class="content-img-wrap">
                    <img src="https://yaimg.yanolja.com/resize/place/v4/2017/08/24/06/640/599df9c8524630.94491845.jpg" alt="역삼 리치웰">
                  </div>
                  <div class="content-text-wrap">
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> 서울 강남구 테헤란로37길 13-10</div>
                    <h3>역삼 리치웰</h3>
                    <div class="customer">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>4.7</span>
                      <i class="fa fa-comments" aria-hidden="true"></i>
                      <span>3,401</span>
                    </div>
                    <div class="type borrow">
                      <h4>대실 <span>최대 6시간</span></h4>
                      <p>30.000원</p>
                      <div class="price">25,000<small>원</small></div>
                    </div>
                    <div class="type one-night">
                      <h4>숙박 <span>16:00 ~</span></h4>
                      <p>70.000원</p>
                      <div class="price">59,800<small>원</small></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a routerLink="/accommodation" class="content-item">
                  <div class="content-img-wrap">
                    <img src="https://yaimg.yanolja.com/resize/place/v4/2017/08/24/06/640/599df9c8524630.94491845.jpg" alt="역삼 리치웰">
                  </div>
                  <div class="content-text-wrap">
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> 서울 강남구 테헤란로37길 13-10</div>
                    <h3>역삼 리치웰</h3>
                    <div class="customer">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>4.7</span>
                      <i class="fa fa-comments" aria-hidden="true"></i>
                      <span>3,401</span>
                    </div>
                    <div class="type one-night">
                      <h4>숙박 <span>16:00 ~</span></h4>
                      <p>70.000원</p>
                      <div class="price">59,800<small>원</small></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a routerLink="/accommodation" class="content-item">
                  <div class="content-img-wrap">
                    <img src="https://yaimg.yanolja.com/resize/place/v4/2017/08/24/06/640/599df9c8524630.94491845.jpg" alt="역삼 리치웰">
                  </div>
                  <div class="content-text-wrap">
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> 서울 강남구 테헤란로37길 13-10</div>
                    <h3>역삼 리치웰</h3>
                    <div class="customer">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>4.7</span>
                      <i class="fa fa-comments" aria-hidden="true"></i>
                      <span>3,401</span>
                    </div>
                    <div class="type borrow">
                      <h4>대실 <span>최대 6시간</span></h4>
                      <p>30.000원</p>
                      <div class="price">25,000<small>원</small></div>
                    </div>
                    <div class="type one-night">
                      <h4>숙박 <span>16:00 ~</span></h4>
                      <p>70.000원</p>
                      <div class="price">59,800<small>원</small></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a routerLink="/accommodation" class="content-item">
                  <div class="content-img-wrap">
                    <img src="https://yaimg.yanolja.com/resize/place/v4/2017/08/24/06/640/599df9c8524630.94491845.jpg" alt="역삼 리치웰">
                  </div>
                  <div class="content-text-wrap">
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> 서울 강남구 테헤란로37길 13-10</div>
                    <h3>역삼 리치웰</h3>
                    <div class="customer">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>4.7</span>
                      <i class="fa fa-comments" aria-hidden="true"></i>
                      <span>3,401</span>
                    </div>
                    <div class="type one-night">
                      <h4>숙박 <span>16:00 ~</span></h4>
                      <p>70.000원</p>
                      <div class="price">59,800<small>원</small></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev content-swiper-button-prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </div>
          <div class="swiper-button-next content-swiper-button-next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
        </div>
      </div> 
    </div>
  </section>
</section>
<app-footer></app-footer>