<section class="main-wrapper fix-height">
  <section class="main-header">
    <div class="container">
      <h2>야 너도 놀수있어</h2>
      <div class="search-panel"></div>
      <div class="swiper-panel">
        <div class="swiper-container" [swiper]="headerConfig">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="" class="hash-item franchise">
                <div class="hash-bg"></div>
                <h3>프랜차이즈</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="hash-item remodeling">
                <div class="hash-bg"></div>
                <h3>신축/리모델링</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="hash-item super-special">
                <div class="hash-bg"></div>
                <h3>초특가 할인</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="hash-item party">
                <div class="hash-bg"></div>
                <h3>파티룸</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="hash-item franchise">
                <div class="hash-bg"></div>
                <h3>프랜차이즈</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="hash-item remodeling">
                <div class="hash-bg"></div>
                <h3>신축/리모델링</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="hash-item super-special">
                <div class="hash-bg"></div>
                <h3>초특가 할인</h3>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="hash-item party">
                <div class="hash-bg"></div>
                <h3>파티룸</h3>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
        <div class="swiper-button-next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
</section>
<app-footer></app-footer>