<section class="member-update">
  <div class="container">
    <h2>프로필 관리</h2>
    <div class="mypage-side-bar">
      <div class="side-bar-top">
        <img src="" alt="">
        <span>이가영</span>
        <span>프로필관리</span>
      </div>
      <div class="side-bar-bottom">
        <span>숙소이용내역</span>
        <span>0건 ></span>
        <span>찜목록</span>
        <span>></span>
      </div>
    </div>
    <div class="mypage-body">
      <button>편집</button>
      <img src="" alt="">
      <span>이름</span><input type="text">
      <span>연락처</span><span>휴대폰 정보 없음</span><a>인증하기</a>
      <span>SNS연동</span>
      <img><span>페이스북 연동</span>
      <img><span>네이버 연동</span>
      <span>비밀번호</span><a>비밀번호 변경하기</a>
      <p>마케팅 수신동의</p>
      <span>email</span><input type="radio">수신
      <span>sms</span><input type="radio">수신
      <span>앱푸시</span><input type="radio">수신

    </div>
  </div>
</section>