:host {
  display: block;
  height: 700px;
}
.reservation-detail-header {
  padding-left: 15px;
  background: #fff;
  text-align: left;
  margin-bottom: 10px;       
  padding-bottom: 15px;
}
.detail-title {
  font-size: 20px;
  font-weight: 600;
}
.detail-sub {
  padding-top: 15px;
}

.subtitle {
  margin-bottom: 3px;
}
.reservation-detail-table {
  background: #fff;
  padding: 20px 20px;
  text-align: left;
  margin-bottom: 10px;
}
.box-title {
  padding-bottom: 20px;
  font-size: 16px;
}
.table {
  border-bottom: 1px solid #ccc;
}
.table th {
  width: 20%;
  padding: 20px 20px;
  background: #f5f6f7;
}
.table td {
  width: 80%;
  padding: 20px 20px;
}
.table tr:first-child td,
.table tr:first-child th {
  border-top: 1px solid #ccc;
}
.box-outline {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.payment-box {
  width: 50%;
  padding: 20px 20px;
}
.payment-box-left {
  background: #f5f6f7;
}
.payment-box-right {
  background: #fff;
}
.payment-box-group {
  padding-bottom: 15px;
}
.payment-total-line {
  border-top: 1px solid #dee2e6;
}
.box-strong {
  padding-bottom: 0px;
}

// 체크박스
.check-box {
  background: #fff;
  padding: 20px 20px;
  text-align: left;
  line-height: 35px;
}
.checkbox {
  // margin-bottom: 15px;
  label {
    line-height: 20px;
  }
  .help-block {
    float: right;
  }
}
.modal-open-btn {
  border-bottom: 1px solid #495056;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 20px;
}
.policy-box {
  overflow-y: scroll;
  height: 100px;
  margin-bottom: 15px;
  padding: 15px;
  color: #ADB5BD;
  background-color: #F5F6F7;
  border: 1px solid #E9ECEF;
  border-radius: 2px;
  .table, caption {
    color: #ADB5BD;
  }
}
.modal-text {
  margin-bottom: 15px;
  font-size: 16px;
}

