<div class="mypage-router-wrap">
  <section class="reservation-detail">
    <div class="reservation-detail-body">
      <div class="detail-wrapper">
        <div class="reservation-detail-header">
          <div class="title-wrapper">
            <a class="detail-title">무주귀빈</a>
            <a class="detail-title-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
          <p class="detail-subtitle subtitle">온돌</p>
          <p class="detail-subtitle">2019.08.26(월) 14:00 ~ 2019.08.27(화) 11:00</p>
        </div>
      </div>
      <div class="reservation-detail-table">
        <p class="box-title">예약 상세</p>
        <table class="table">
          <tr>
            <th class="table-key">예약번호</th>
            <td>190709174591733</td>
          </tr>
          <tr>
            <th class="table-key">예약자명</th>
            <td>이가영</td>
          </tr>
          <tr>
            <th class="table-key">예약자 연락처</th>
            <td>050350713667</td>
          </tr>
          <tr>
            <th class="table-key">예약일시</th>
            <td>2019.07.09 (화) 17:43</td>
          </tr>
        </table>
      </div>
      <div class="reservation-detail-table reservation-detail-payment">
        <p class="box-title">결제 금액</p>
        <div class="box-outline">
          <div class="payment-box payment-box-left clearfix">
            <p class="d-inline-block">결제수단</p>
            <p class="d-inline-block float-right">신용카드</p>
          </div>
          <div class="payment-box">
            <div class="payment-box-group clearfix">
              <p class="d-inline-block payment-box-right">판매금액</p>
              <p class="float-right">₩ 3,900</p>
            </div>
            <div class="payment-box-group clearfix">
              <p class="d-inline-block">총 할인금액</p>
              <p class="float-right">- ₩ 0</p>
            </div>
            <div class="payment-box-group box-strong clearfix">
              <div class="payment-box-group payment-total-line"></div>
              <p class="d-inline-block">결제금액</p>
              <p class="float-right">₩ 3,900</p>
            </div>
          </div>
        </div>
      </div>
      <div class="reservation-detail-table">

      </div>
    </div>
  </section>
</div>