<div *ngIf="isLoading$ | async" class="loading"><img src="/assets/img/common/loading.gif" alt="loading"></div>
<div class="mypage-router-wrap" *ngIf="!(isLoading$ | async)">
  <section class="reservation-detail">
    <div class="reservation-detail-body">
      <div class="detail-wrapper">
        <div class="reservation-detail-header">
          <div class="title-wrapper">
            <a class="detail-title">{{ bookData.stay }}</a>
            <!-- <i class="detail-title-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
          </div>
          <p class="detail-subtitle subtitle">{{ bookData.room }}</p>
          <p class="detail-subtitle">
            <span [innerText]="splitDate(bookData.checkIn)"></span> ~
            <span [innerText]="splitDate(bookData.checkOut)"></span>
          </p>
          <!-- <p class="detail-subtitle">{{ bookData.checkIn }} ~ {{ bookData.checkOut }}</!--> 
        </div>
      </div>
      <div class="reservation-detail-table">
        <p class="box-title">예약 상세</p>
        <table class="table mb-0">
          <!-- <tr>
            <th class="table-key">예약번호</th>
            <td>190709174591733</td>
          </tr> -->
          <tr>
            <th class="table-key">예약자명</th>
            <td>{{ bookData.booker }}</td>
          </tr>
          <tr>
            <th class="table-key">예약자 연락처</th>
            <td>{{ bookData.phoneNumber }}</td>
          </tr>
          <tr>
            <th class="table-key">예약일시</th>
            <td [innerText]="splitDate(bookData.created)"></td>
          </tr>
        </table>
      </div>
      <div class="reservation-detail-table reservation-detail-payment">
        <p class="box-title">결제 금액</p>
        <div class="box-outline">
          <div class="payment-box payment-box-left clearfix">
            <p class="d-inline-block">결제수단</p>
            <p class="d-inline-block float-right">신용카드</p>
          </div>
          <div class="payment-box">
            <div class="payment-box-group clearfix">
              <p class="d-inline-block payment-box-right">판매금액</p>
              <p class="float-right">{{ bookData.finalPrice | number }}원</p>
            </div>
            <div class="payment-box-group clearfix">
              <p class="d-inline-block">총 할인금액</p>
              <p class="float-right">- 0원</p>
            </div>
            <div class="payment-box-group box-strong clearfix">
              <div class="payment-box-group payment-total-line"></div>
              <p class="d-inline-block">결제금액</p>
              <p class="float-right">{{ bookData.finalPrice | number }}원</p>
            </div>
          </div>
        </div>
      </div>
      <div class="check-box clearfix">
        <div class="checkbox float-left"> 
          <input type="checkbox" id="cancelPolicy" [checked]="isCheck" (change)="isCheck = !isCheck">
          <label for="cancelPolicy">(필수)취소 규정 동의</label>
          <a (click)="cancellationPolicyOpen()" class="modal-open-btn">보기</a>
        </div>
        <button class="btn btn-primary float-right" [disabled]="!isCheck" (click)="cancelConfirm(template)">취소하기</button>
      </div> 
      <ng-template #template>
        <div class="modal-body text-center">
          <p class="modal-text">정말 취소하시겠습니까?</p>
          <button class="btn btn-primary" (click)="confirm()">확인</button>
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">취소</button>
        </div>
      </ng-template>
    </div>
  </section>
</div>