<section class="ui">
  <div class="container">
    <h2>form</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="~~를 입력해주세요.">
    </div>
    <div class="form-group has-error">
      <input type="text" class="form-control" placeholder="~~를 입력해주세요.">
      <em class="help-block">~~를 입력해주세요.</em>
    </div>

    <h2>checkbox</h2>
    <div class="checkbox">
      <input type="checkbox" id="customId" name="customId">
      <label for="customId">checkbox</label>
    </div>

    <h2>radio</h2>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
    </div>

    <h2>button</h2>
    <button class="btn btn-primary">btn-primary</button>
    <div class="mb-2"></div>
    <button class="btn btn-outline-primary">btn-outline-primary</button>
    <div class="mb-2"></div>
    <button type="button" class="btn btn-secondary">btn-secondary</button>

    <h2>pagination</h2>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</section>
