@charset "utf-8";
@import "./output-scss/common.scss";
@import "./output-scss/normalize.scss";

@font-face {
  font-family: "noto-sans-scott";
  font-weight: 100;
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Thin.eot");
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Thin.eot") format("embedded-opentype"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Thin.woff") format("woff"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Thin.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 200;
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Light.eot");
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Light.eot") format("embedded-opentype"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Light.woff") format("woff"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Light.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 300;
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.eot");
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.eot") format("embedded-opentype"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.woff") format("woff"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-DemiLight.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 400;
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Regular.eot");
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Regular.eot") format("embedded-opentype"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Regular.woff") format("woff"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Regular.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 500;
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Medium.eot");
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Medium.eot") format("embedded-opentype"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Medium.woff") format("woff"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Medium.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 700;
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Bold.eot");
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Bold.eot") format("embedded-opentype"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Bold.woff") format("woff"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Bold.otf") format("truetype");
}
@font-face {
  font-family: "noto-sans-scott";
  font-weight: 900;
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Black.eot");
  src: url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Black.eot") format("embedded-opentype"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Black.woff") format("woff"),
  url("/assets/fonts/noto-sans-scott/NotoSansCJKkr-Black.otf") format("truetype");
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
main, article, aside, details,   figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 기본 설정 */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #181818;
  font-family: "noto-sans-scott", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  background-color: #FFF;
}
/* 링크 스타일 */
a, a:hover {
  color: inherit;
  text-decoration: none;
}
a, button {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  cursor: pointer;
}
/* 숨김 콘텐츠 */
.readable-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
/* container */
.container {
  position: relative;
}
.fix-height {
  min-height: 100%;
}
.fix-height-sub {
  min-height: calc(100% - 82px); // 82: sub-title
}
/* button */
.btn {
  color: inherit;
  border-radius: 0;
  cursor: pointer;
}
.btn-primary {
  color: #FFF;
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $primary-dark-color;
    border-color: $primary-dark-color;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 52, 120, .25);
  }
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: $primary-dark-color;
  border-color: $primary-dark-color;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 52, 120, .25);
  }
}
.btn-secondary {
  background-color: #E9ECEF;
  border-color: #E9ECEF;
  &:hover {
    color: inherit;
    background-color: #DEE2E6;
    border-color: #DEE2E6;
  }
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: inherit;
  background-color: #DEE2E6;
  border-color: #DEE2E6;
}
.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  &:hover {
    color: $primary-color;
    background-color: $primary-light-color;
    border-color: $primary-color;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 52, 120, .25);
  }
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #FFF;
  background-color: $primary-color;
  border-color: $primary-color;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 52, 120, .25);
  }
}
/* custom checkbox */
.checkbox {
  padding-left: 20px;
}
.checkbox input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  opacity: 0;
  cursor: pointer;
}
.checkbox label {
  display: inline-block;
  position: relative;
  min-height: 20px;
  padding-left: 10px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
.checkbox label::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  background-color: #FFF;
  border: 1px solid #ADB5BD;
  border-radius: 2px;
  -webkit-transition: all 0.08s ease-in-out;
  transition: all 0.08s ease-in-out;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: none;
}
.checkbox input[type="checkbox"]:checked + label::before {
  background-color: #FF416F;
  border-color: #FF416F;
  border-width: 10px;
  -webkit-transition: all 0.08s ease-in-out;
  transition: all 0.08s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  padding-top: 1px;
  color: #76838F;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  color: #FFF;
  font-family: "Web Icons";
  background: url(assets/img/common/check_white.png) no-repeat;
  background-size: 12px 10px;
  background-position: 4px;
}
/* radio */
.custom-radio {
  & + .custom-radio {
    margin-top: 15px;
  }
  .custom-control-label {
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #FFF;
  border-color: $primary-color;
  background-color: $primary-color;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 52, 120, .25);
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  border-color: $primary-light-color;
  background-color: $primary-light-color;
}
/* form-control */
.form-control {
  height: 40px;
  padding: 3px 7px 3px 12px;
  background-color: #FFF;
  border: 1px solid #CED4DA;
  border-radius: 2px;
  transition: all 0.08s ease;
  &:hover {
    border-color: #848C94;
  }
  &:focus {
    border-color: #FF416F;
    box-shadow: 0 0 0 0.2rem rgba(255, 52, 120, .25);
    outline: none;
  }
}
.has-error .form-control {
  border-color: #FF8D7C;
  &:focus {
    border-color: #FF8D7C;
    box-shadow: 0 0 0 0.2rem rgba(255, 141, 124, .25);
  }
}
.help-block {
  color: #FF8D7C;
  font-size: 12px;
}