<div>
  <section>
    <div>
      <img src="https://yaimg.yanolja.com/resize/place/v4/2017/08/24/10/640/599e2d1a9a8473.41618861.jpg">
    </div>
    <div>
      <h2></h2>
      <dl>
        <dt></dt>
          <dd>
          </dd>
        
        <dt></dt>
          <dd>
          </dd>
        
        <dt></dt>
          <dd>
          </dd>
        
      </dl>
      <div>
        <i></i><span></span>
      </div>
      <div>
        <dl>
          <dt></dt>
            <dd></dd>
          
          <dt></dt>
            <dd></dd>
          
        </dl>
      </div>
      <div>
        <strong></strong><span></span>
      </div>

    </div>
  </section>
</div>