@import '../../../output-scss/common.scss';

button:not(.btn-primary):not(.btn-secondary):not(.stepper-modifier) {
  outline: none;
  background: #FFF;
  border: none;
}
.container-wrapper {
  margin-bottom: 100px;
}
.head-wrap {
  padding: 50px 0;
  background-color: $primary-color;
}
.alist-search-container {
  display: flex;
  flex-direction: column;
}
.alist-search-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & + .alist-search-items-container {
    margin-top: 15px;
  }
}
.open-map-btn {
  display: inline-block;
  margin: 0 0 10px 10px;
  .fa-location-arrow {
    color: $primary-color;
  }
}
.alist-search-frame {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2px;
}
.alist-search-frame i {
  margin-left: 12px;
  color: #FF3478;
}
.search-box {
  border-radius: 2px;
  background: #FFF;
  height: 45px;
}
.keyword-wrap {
  position: relative;
  margin-right: 8px;
  .fa {
    @include vertical-center;
    left: 15px;
    z-index: 1;
    color: $primary-color;
  }
  .keyword-input {
    width: 100%;
    padding: 0 10px 0 40px;
    border: 0;
    &::placeholder {
      color: #343a40;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.alist-date-popup-content-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 ;
}
.popup-btn-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stepper-value {
  width: 36px;
  height: 22px;
  font-size: 16px;
  font-weight: 500;
  color: #343a40;
  text-align: center;
  line-height: 20px;
}
.stepper-modifier {
  border-radius: 24px;
  width: 32px;
  height: 32px;
  border: 1px solid #ced4da;
}
.alist-search-type {
  border:none;
  width: 130px;
}
.alist-search-loc {
  width: 360px;
}
.alist-search-date {
  position: relative;
  width: 255px;
}
.btn-date-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.alist-search-inputbox {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #343A40;
  font-weight: 600;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border: none;
  outline-style: none;
}
.btn-submit-container {
  width: 80px;
  height: 100%;
}

// 상단 검색네비 옵션 클릭 팝업 wrapper
.alist-popup-wrapper {
  position: relative;
}

// 상단 검색네비 팝업 닫기 btn
.btn-close {
  padding: 0;
  border: none;
  background: none;
}
.btn-close:focus {
  outline: none;
}
.btn-popup-close {
  position: absolute;
  top: 20px;
  right: 25px;
}

// 상단 검색네비 옵션 클릭시 팝업
.alist-popup-container {
  position: absolute;
  z-index: 2;
  margin-top: 4px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #AAA;
}
.alist-popup-module {
  padding: 20px;
}

//  상단 검색네비 옵션 클릭 팝업 - 유형
.alist-popup-type-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  
}
.alist-type-popup-module {
  width: 395px;
  padding: 15px;
  background-color: #FFF;
  border-radius: 2px;
}
.alist-popup-type-item {
  display: inline-block;
  padding: 15px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
}
// 상단 검색네비 datePicker
.datePicker {
  width: 100%;
  margin-bottom: 0;
  border: none;
}
.datePicker-input {
  height: 33px;
  padding: 0;
  color: #343A40;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &[readonly] {
    background-color: #FFF;
  }
}
.datePicker-input::placeholder {
  color: #343A40;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
}

// 상단 검색네비 옵션 클릭 팝업 - 지역
.alist-search-location-container {
  position: absolute;
  z-index: 2;
  width: 782px;
  margin-top: 4px;
  padding: 15px;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 #AAA;
}
.alist-location-header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #F5F6F7;
}
.alist-location-header-top li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 40px;
  background-color: #F5F6F7;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  cursor: pointer;
  &:hover, &.active {
    color: $primary-color;
    background-color: #FFF;
  }
}
.alist-search-bottom-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  li {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0 20px;
    background-color: #FFF;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    cursor: pointer;
    &:hover {
      color: #FF3478;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// 상단 검색네비 옵션 클릭 팝업 - 인원수
.alist-popup-container-member {
  left: 0;
  right: 0;
  width: 100%;
}

.alist-date-popup-h4 {
  margin-bottom: 20px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
}

// 숙소리스트 컨텐츠 전체 wrapper
.alist-whole-wrapper {
  width: 100%;
  // background: gold;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.alist-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.alist-header-h2 {
  font-size: 16px;
  font-weight: 600;
  color: #343a40;
}

.alist-header-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.alist-header-nav-item {
  font-weight: 700;
  color: #343a40;
  margin-right: 10px;
  font-size: 13px;
}

.alist-header-nav-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  width: 4px;
  height: 4px;
  background-color: #343A40;
  border-radius: 2px;
}
.alist-sort-option {
  color: #343a40;
  font-weight: 700;
  padding-left: 8px;
  font-size: 13px;
  background-color: rgba(0,0,0,0);
}
.alist-content-ul-item a {
  display: flex;
  justify-content: space-between;
}
.alist-item-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 200px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(102,109,117,.2);
  transition: box-shadow .2s;

}



.alist-item-box-image-container {
  width: 390px;
  height: 200px;
  vertical-align: top;
  background: lime;
  position: relative;
}
.alist-item-box-imgDetail{
  width: 100%;
  height: 100%;
  // background-image: url('https://i.travelapi.com/hotels/23000000/22140000/22135900/22135839/3978c2fa_z.jpg');
  background-size: cover;
  border-radius: 2px 0 0 2px;
}

.alist-box-right-container {
  display: flex;
  justify-content: space-between;
}

.alist-box-right-inner {
  width: 480px;
  max-width: 480px;
  padding: 20px 24px 22px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// 숙소박스 호텔이름
.alist-hotel-name {
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #343a40;
}

.alist-hotel-name-desc {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #33373a;
}

.alist-hotel-service{ 
  margin-top: 12px;
}

.alist-hotel-service-label {
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #33b893;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 500;
  color: #27ab86;
  line-height: 16px;
  display: inline-block;
}

.alist-hotel-review-container {
  display: flex;
}

.alist-hotel-score {
  width: 28px;
  height: 28px;
  border-radius: 4px 4px 4px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  background-color: #003580;
  color: #ffff;
  letter-spacing: 1px;
  text-align: center;
}

.alist-hotel-score span {
  margin-left: 2.5px;
}

.alist-hotel-review-label {
  margin-left: 10px;
}

.alist-hotel-review-label h3 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: #343a40;
}

.alist-hotel-review-label p {
  margin-top: 2px;
  font-size: 11px;
  line-height: 12px;
} 

// 숙소박스 오른쪽
.alist-box-right-outter{
  width: 250px;
  position: relative;
}

.alist-box-right-outter::before {
  content: "";
  width: 1px;
  height: calc(100% - 40px);
  background-color: #e9ecef;
  position: absolute;
  top: 20px;
  left: 1px;
}

.alist-rightbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 22px 24px 22px;
}
.alist-price-total {
  line-height: 22px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -.5px;
  text-align: right;
  margin-bottom: 5px;
  width: 100%;
}

.alist-price-total span {
  line-height: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 1px;
  font-weight: 600;
}

.alist-price-avg {
  line-height: 12px;
  font-size: 11px;
  color: #42484f;
  text-align: right;
}

.alist-rightbox-btnBox {
  width: 104px;
  margin-top: 10px;
  line-height: 30px;
  z-index: 1;
}

.alist-rightbox-btn {
  line-height: 30px;
  width: 100%;
  border: 1px solid #ff3478;
  background-color: #ff3478;
  color: #fff;
  height: 32px;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 13px;
  padding: 0;
  position: relative;
  border-radius: 2px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: box-shadow .1s ease-out,background-color .1s ease-out,color .1s ease-out,border-bottom .1s ease-out;
}

.alist-rightbox-priceOption {
  width: 100%;
  position: relative;
  padding: 10px 24px 18px;
}

.alist-rightbox-priceOption::before {
  content: "";
  width: calc(100% - 48px);
  height: 1px;
  background-color: #e9ecef;
  position: absolute;
  top: 0;
  left: 24px;
}

.alist-priceOption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border: 0;
  background-color: rgba(0,0,0,0);
  z-index: 1;
  text-align: left;
}

.alist-priceOption h4 {
  color: #495056;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
}

.alist-priceOption p {
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: -.3px;
}

.loading-wrap {
  height: 500px;
}
.modal-title {
  font-size: 16px;
}
.modal-body {
  .form-row {
    margin-bottom: 15px;
  }
  .form-control {
    height: 35px;
    font-size: 15px;
    font-weight: 600;
  }
  .btn-secondary {
    width: 100%;
  }
  .map-wrap {
    margin-bottom: 15px;
  }
  .loading-wrap, agm-map {
    height: 500px;
  }
}