<footer>
  <div class="container">
    <nav class="navbar navbar-dark">
      <span class="navbar-brand mb-0 h1">야놀자</span>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://yanolja.in/ko/companyinfo/" title="회사소개로 이동" target="_blank">회사소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://yanolja.in/ko/partnership/" title="제휴광고문의로 이동" target="_blank">제휴광고문의</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://yanolja.in/ko/category/recruit/" title="인재채용으로 이동" target="_blank">인재채용</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://policy.yanolja.com/?t=service" title="이용약관으로 이동" target="_blank">이용약관</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://policy.yanolja.com/?t=privacy" title="개인정보처리방침으로 이동" target="_blank">개인정보처리방침</a>
        </li>
      </ul>
      <div class="btn-group" dropdown>
        <button id="button-dropup" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-dropup">
          패밀리사이트 <span class="caret"></span>
        </button>
        <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
          <li role="menuitem"><a class="dropdown-item" target="_blank" href="https://smartfront.yanolja.com">스마트프런트</a></li>
          <li role="menuitem"><a class="dropdown-item" target="_blank" href="http://www.yapen.co.kr/">야놀자 펜션</a></li>
          <li role="menuitem"><a class="dropdown-item" target="_blank" href="http://www.yanoljafranchise.com/">프랜차이즈</a></li>
          <li role="menuitem"><a class="dropdown-item" target="_blank" href="http://www.hotelup.com/">호텔업</a></li>
          <li role="menuitem"><a class="dropdown-item" target="_blank" href="http://www.hotelnow.co.kr/ko">호텔나우</a></li>
          <li role="menuitem"><a class="dropdown-item" target="_blank" href="http://www.ynjedu.co.kr">야놀자평생교육원</a></li>
        </ul>
      </div>
    </nav>
    <section class="footer-infos clearfix">
      <div class="footer-info">
        <address>
          (주)야놀자<i></i>대표이사: 이수진<i></i> 주소: 서울 강남구 테헤란로 108길 42 <i></i>
          메일: <a href="mailto:help@yanolja.com"><b>help@yanolja.com</b></a> <br>
          사업자 등록번호: 220-87-42885<i></i>통신판매업신고: 강남-14211호<i></i>
          관광사업자 등록번호: 제2016-31호<i></i>호스팅 서비스 제공자: (주)야놀자
        </address>
        <p>
          (주)야놀자는 통신판매중개자로서, 통신판매의 당사자가 아니라는 사실을 고지하며
          상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
        </p>
      </div>
      <div class="service-center">
        <a href="http://help.yanolja.com/faq" target="_blank" title="야놀자 고객센터로 이동">
          <em>고객센터</em><br>
          <span>1644-1346(오전 9시 ~ 익일 새벽 3시)</span>
        </a>
        <div class="snslink">
          <a href="https://www.facebook.com/yanolja/?fref=ts" target="_blank" title="야놀자 페이스북으로 이동"><i class="icon-comm icon-sns-facebook"></i></a>
          <a href="https://www.instagram.com/yanoljainsta/" target="_blank" title="야놀자 인스타그램으로 이동"><i class="icon-comm icon-sns-instargram"></i></a>
          <a href="https://www.youtube.com/user/yanoljamedia" target="_blank" title="야놀자 유튜브으로 이동"><i class="icon-comm icon-sns-youtube"></i></a>
          <a href="http://tv.naver.com/yanolja" target="_blank" title="야놀자 네이버TV로 이동"><i class="icon-comm icon-sns-navertv"></i></a>
          <a href="http://post.naver.com/my.nhn?memberNo=2768780" target="_blank" title="야놀자 네이버 포스트로 이동">
              <i class="icon-comm icon-naverpost"></i>
          </a>
          <a rel="noopener noreferrer" href="http://blog.naver.com/yanolog" target="_blank" title="야놀자 네이버블로그로 이동"><i class="icon-comm icon-sns-naverblog"></i></a>
        </div>
      </div>
    </section>
    <section class="award">
      <div class="media">
        <img src="assets/img/footer/img-award-01.png" class="align-self-start" alt="2017 하이서울 브랜드 선정">
        <div class="media-body">
          <p>2017</p>
          <p>하이서울 브랜드 선정</p>
        </div>
      </div>
      <div class="media">
        <img src="assets/img/footer/img-award-02.png" class="align-self-start" alt="2017 브랜드 스타 숙박앱 부문 1위">
        <div class="media-body">
          <p>2017 브랜드 스타</p>
          <p>숙박앱 부문 1위</p>
        </div>
      </div>
      <div class="media">
        <img src="assets/img/footer/img-award-03.png" class="align-self-start" alt="2016 모바일 어워드 코리아 숙박정보 부문 대상">
        <div class="media-body">
          <p>2016 모바일 어워드 코리아</p>
          <p>숙박정보 부문 대상</p>
        </div>
      </div>
      <div class="media">
        <img src="assets/img/footer/img-award-04.png" class="align-self-start" alt="2015앱 어워드 코리아 숙박정보 부문 대상">
        <div class="media-body">
          <p>2015앱 어워드 코리아</p>
          <p>숙박정보 부문 대상</p>
        </div>
      </div>
      <div class="media">
        <img src="assets/img/footer/img-award-05.png" class="align-self-start" alt="2015 대한민국 마케팅 대상 최우수상">
        <div class="media-body">
          <p>2015 대한민국 마케팅 대상</p>
          <p>최우수상</p>
        </div>
      </div>
      <div class="media">
        <img src="assets/img/footer/img-award-06.png" class="align-self-start" alt="정보보호관리체계인증 ISMS">
        <div class="media-body">
          <p>정보보호관리체계인증</p>
          <p>ISMS</p>
        </div>
      </div>
      <!-- <div class="award__message">[인증범위] 인터넷 정보 제공 서비스 운영(야놀자,바로예약,스마트프런트)<br>[유효기간] 2018.04.26 ~ 2021.04.25</div> -->
    </section>
  </div>
</footer>