<ng-container>
<section class="room-detail">
  <h1>객실 상세 페이지</h1>
  <div class="container">
    
    <section class="room-container">
      <h2>객실 정보</h2>
      <section class="room-title" *ngIf="!!data">
        <h3>{{data.name}}</h3>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span>{{data.stay}}</span>
      </section>
      <section class="room-img" >
        <h3>객실 사진 캐러셀</h3>
          <div class="all-wrpper">
            <div class="swiper-container gallery-top" [swiper]="galleryTopConfig" #galleryTop>
              <div class="swiper-wrapper" >
                <ng-container *ngIf="!!data">
                <div class="swiper-slide" *ngFor="let img of data.urlImage">
                  <img [src]="img">
                </div>
              </ng-container>
              </div>
              <div class="swiper-button-next swiper-button-black"></div>
              <div class="swiper-button-prev swiper-button-black"></div>
            </div>
            <div class="swiper-container gallery-thumbs" [swiper]="galleryThumbsConfig" #galleryThumbs>
              <div class="swiper-wrapper">
                <ng-container *ngIf="!!data">
                <div class="swiper-slide" *ngFor="let img of data.urlImage">
                  <img [src]="img">
                </div>
              </ng-container>
              </div>
            </div>
          </div>
      </section>
      <section class="reservation-notice" *ngIf="!!data">
        <h3>예약공지</h3>
        <li *ngFor="let text of data.reservationNotice">{{text}}</li>
      </section>
      <section class="cancel-rule" *ngIf="!!data">
        <h3>취소규정</h3>
        <pre *ngFor="let text of data.cancelRegulation">{{text}}</pre>
        <button (click)="openPolicy()">자세히 보기</button>
      </section>
    </section>
    <nav class="nav-container" *ngIf="!!data">
      <h2>객실 예약 네비게이션</h2>
      <section class="rental-room">
          <h3>날짜 선택</h3>
          <form [formGroup]="form">
            <div class="row">
              <div class="col-xs-12 col-md-5 col-lg-4 form-group">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                <input
                  class="form-control"
                  #datepicker="bsDaterangepicker"
                  bsDaterangepicker
                  formControlName="dateYMD"
                  [bsConfig]="{ rangeInputFormat: 'YYYY-MM-DD', isAnimated: true, containerClass: 'theme-yanolja', showWeekNumbers: false }"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [datesDisabled]="formatReservedList()"
                  [container]="'.room-detail'"
                  (bsValueChange)="onValueChange($event)"
                  readonly
                  >
                  <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="!datepicker.isOpen"></i>
                  <i class="fa fa-chevron-up" aria-hidden="true" *ngIf="datepicker.isOpen"></i>
                </div>
              </div>
          </form>
          
        </section>
      <section class="rental-room" *ngIf="data.hoursAvailable">
        <h3>대실 예약</h3>
        <span class="nav-common-title">대실</span>
        <ng-container *ngIf="data.rentalAvailable">
        <div class="rental-price">
          <span class="original-price" *ngIf="data.saleHoursPrice">{{data.hoursPrice | number}}원</span>
          <span class="sale-price" *ngIf="data.saleHoursPrice">{{data.saleHoursPrice | number}}원</span>
          <span class="sale-price no-sale" *ngIf="!data.saleHoursPrice">{{data.hoursPrice | number}}원</span>
        </div>
        <table class="rental-time nav-table">
          <tbody>
            <tr class="check-in">
              <td class="td-head">이용시간</td>
              <td class="td-body">최대 {{data.hoursAvailable}}시간</td>
            </tr>
            <tr class="check-out">
              <td class="td-head">운영시간</td>
              <td class="td-body">{{data.hoursUntil}}:00 까지</td>
            </tr>
          </tbody>
        </table>
        <button class="book-room btn btn-primary" routerLink="payment" 
        [queryParams]="{
          stay: data.stay, hoursUntil: data.hoursUntil, hoursAvailable: data.hoursAvailable,
          daysCheckIn: data.daysCheckIn, daysCheckOut: data.daysCheckOut, 
          checkIn: formatDate(this.form.get('dateYMD').value[0]), checkOut: this.formatDate(this.form.get('dateYMD').value[1]), type: 0 }"
          >예약하기</button>
        </ng-container>
        <button class="book-room btn btn-primary book-disabled" *ngIf="!data.rentalAvailable" disabled>예약마감</button>
      </section>
      <section class="stay-room">
          <h3>숙박 예약</h3>
          <span class="nav-common-title">숙박</span>
          <ng-container *ngIf="data.stayAvailable">
          <div class="stay-price">            
            <span class="original-price" *ngIf="data.saleDaysPrice">{{data.daysPrice | number}}원</span>
            <span class="sale-price" *ngIf="data.saleDaysPrice">{{data.saleDaysPrice | number}}원</span>
            <span class="sale-price no-sale" *ngIf="!data.saleDaysPrice">{{data.daysPrice | number}}원</span>
          </div>
          <table class="stay-time nav-table">
            <tbody>
              <tr class="check-in">
                <td class="td-head">체크인</td>
                <td class="td-body">{{data.daysCheckIn}}:00 부터</td>
              </tr>
              <tr class="check-out">
                <td class="td-head">체크아웃</td>
                <td class="td-body">{{data.daysCheckOut}}:00까지</td>
              </tr>
            </tbody>
          </table>
          <button class="book-room btn btn-primary"
          routerLink="payment"
          [queryParams]="{
            stay: data.stay, hoursUntil: data.hoursUntil, hoursAvailable: data.hoursAvailable,
            daysCheckIn: data.daysCheckIn, daysCheckOut: data.daysCheckOut, 
            checkIn: formatDate(this.form.get('dateYMD').value[0]), checkOut: this.formatDate(this.form.get('dateYMD').value[1]), type: 1 }"
          >예약하기</button>
        </ng-container>
          <button class="book-room btn btn-primary book-disabled" *ngIf="!data.stayAvailable" disabled>예약마감</button>
        </section>
    </nav>
  </div>
</section>
</ng-container>
<app-footer></app-footer>