@import '../../../output-scss/common.scss';
@import '~swiper/dist/css/swiper.min.css';
/*헤더 시각적 숨김처리*/
section>h1, section>h2, nav>h2, .nav-container>section>h3 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
/*객실 정보*/
.room-container {
  width: 771px;
  margin-top: 40px;
}
/*객실 명, 지역*/
.room-title {
  margin-bottom: 34px;
}
.room-title>h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.fa-map-marker {
  color: #848c94;
  margin-right: 6px;
}
.room-title>span {
  color: #848c94;
}
/*객실 사진 캐러셀*/
.room-img{
  width: 750px;
  margin-bottom: 70px;
  position: relative;
}
.room-img h3 {
  height: 1px;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
.gallery-top .swiper-slide {
  text-align: center;
  background-color: #fff;
}
.gallery-top .swiper-slide img {
  height: 400px;
}
.gallery-thumbs {
  width: 710px;
  margin: 20px auto 0;
}
.gallery-thumbs .swiper-slide {
  overflow: hidden;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide img {
  width: 100%;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
/*예약 공지, 취소 규정 공통*/
.reservation-notice, .cancel-rule {
  border: solid #e8ebee;
  border-width: 1px 0;
  padding: 32px 16px 32px 0;
}
.reservation-notice>h3, .cancel-rule>h3 {
  font-size: 20px;
  font-weight: 500;
}
/*예약 공지*/
.reservation-notice>h3 {
  margin-bottom: 25px;
}
/*취소 규정*/
.cancel-rule {
  position: relative;
  border-top: none;
}
.cancel-rule>h3 {
  margin-bottom: 45px;
}
.cancel-rule>button {
  position: absolute;
  right: 0;
  top: 42px;
  outline: none;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ced4da;
  color: #495056;
  border-radius: 2px;
  font-weight: 700;
  padding: 0 16px;
  font-size: 14px;
}
.cancel-rule>button:hover {
  border: 1px solid #ced4da;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}

/*객실 예약 네비게이션*/
.nav-container {
  width: 320px;
  position: absolute;
  left: calc(70% + 10px);
  top: 0px;
}
.nav-container>section {
  position: relative;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 0 1px rgba(52,58,64,.15), 0 2px 4px 0 rgba(52,58,64,.15);
}
.rental-room {
  margin-bottom: 20px;
}
.nav-common-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.rental-price, .stay-price {
  position: absolute;
  right: 30px;
  top: 26px;
  display: flex;
  flex-direction: column;
}
.original-price {
  text-decoration: line-through;
  align-self: flex-end;
  color: #899199;
}
.sale-price {
  font-size: 22px;
  font-weight: 600;
}
/*이용시간 테이블*/
.rental-time, .stay-time {
  margin-top: 20px;
  border: solid #e1e4e8;
  border-width: 1px 0;
  width: 100%;
}
.nav-table {
  margin-bottom: 18px;
}
.nav-table td {
  padding: 12px 0;
}
.nav-table tr {
  border: solid #e1e4e8;
  border-width: 1px 0;
}
.td-head {
  background: #f8f9fa;
  text-align: center;
}
tr>.td-body {
  padding-left: 17px;
}
/*네비게이션 에약버튼*/
.book-room {
  // width: 100%;
  // padding: 20px 0;
  // border: none;
  // background: $primary-color;
  // border-radius: 5px;
  // font-size: 17px;
  // font-weight: 600;
  // color: #fff;
  // outline: none;
} 